<h1>Favoritos</h1>

<div class="encabezado">
    <p>4 Favoritos</p>
</div>

<div (click)="navegar(['prod/abcd'], $event)" *ngFor="let compra of compras" class="contenedor">
    <img src="{{compra.imagen}}">
    <div>
        <p>Cuadro para sala 60 x 120 decorativo moderno</p>
        <div>
            <p>$ 125.000</p><p>- 30% OFF</p>
        </div>
        <p>$ 100.000</p>
        <p>Envío gratis</p>
    </div>
    <div>
        <img src="../../../../../../assets/img/logo/iconos/Share.svg">
        <img src="../../../../../../assets/img/logo/iconos/Share-full.svg">
    </div>
    <div>
        <img src="../../../../../../assets/img/logo/iconos/Delete.svg">
        <img src="../../../../../../assets/img/logo/iconos/Delete-full.svg">
    </div>
</div>