<h1 class="titulo">Resumen de compra</h1>

<ng-container *ngIf="direcciones">
    <div class="direccion" *ngFor="let direccion of direcciones; let index = index" (click)="seleccionar(direccion, index)">
        <ng-icon name="heroMapPin"></ng-icon>
        <div class="dir">
            <h2>{{direccionesString[index]}}</h2>
            <p>{{direccion.barrio}}, Bogotá D.C.</p>
            <p>{{direccion.nombresApellidos}}</p>
        </div>
        <div class="editarDireccion" (click)="direccionar('modificar', index); $event.stopPropagation()">
            <ng-icon name="matEdit"></ng-icon>
            <p>Editar</p>
        </div>
        <div class="eleccion" *ngIf="direcciones.length !== 1" (click)="eliminar(index); $event.stopPropagation()">
            <ng-icon name="matDelete"></ng-icon>
        </div>
    </div>
    <div class="agregarDireccion" (click)="direccionar('agregar')">
        <p>+ Agregar dirección</p>
    </div>
</ng-container>