<div class="opiniones-contenedor">
    <div style="display: flex;">
        <h1 *ngIf="tieneOpiniones">{{promedio}}</h1>
        <h1 *ngIf="!tieneOpiniones">0</h1>
        <div>
            <div class="estrellas">
                <div class="starts-over" [ngClass]="'starts-' + promedioCalificacion">
                    <ng-icon name="heroStarSolid"></ng-icon>
                    <ng-icon name="heroStarSolid"></ng-icon>
                    <ng-icon name="heroStarSolid"></ng-icon>
                    <ng-icon name="heroStarSolid"></ng-icon>
                    <ng-icon name="heroStarSolid"></ng-icon>
                </div>
                <div class="starts">
                    <ng-icon name="heroStarSolid"></ng-icon>
                    <ng-icon name="heroStarSolid"></ng-icon>
                    <ng-icon name="heroStarSolid"></ng-icon>
                    <ng-icon name="heroStarSolid"></ng-icon>
                    <ng-icon name="heroStarSolid"></ng-icon>
                </div>
            </div>
            <p class="calificaciones"><span *ngIf="!tieneOpiniones">Sin</span><span *ngIf="tieneOpiniones">{{opiniones.length}}</span> calificaciones</p>
        </div>
    </div>
    <div class="barras">
        <div class="linea" *ngFor="let calificacion of calificaciones">
            <span class="linea-span">
                <span class="fondo-span" [style.width.%]="calificacion.porcentaje"></span>
            </span>
            <p>{{ calificacion.estrellas }}</p><ng-icon name="heroStarSolid"></ng-icon>
        </div>
    </div>
    <select [(ngModel)]="opcionSeleccionada" (change)="leccionarOpcion()"> 
        <option disabled selected value="0">Calificación</option>
        <option value="5">5 estrellas</option>
        <option value="4">4 estrellas</option>
        <option value="3">3 estrellas</option>
        <option value="2">2 estrellas</option>
        <option value="1">1 estrellas</option>
        <option value="todas">Todas</option>
    </select>
    <ng-container *ngFor="let opinion of opinionesSelecionadas">
        <div class="opinion">
            <div style="display: flex;">
                <div class="estrellas-opinion">
                    <div class="starts-over" [ngClass]="'starts-' + (opinion.calificacion! * 20)">
                        <ng-icon name="heroStarSolid"></ng-icon>
                        <ng-icon name="heroStarSolid"></ng-icon>
                        <ng-icon name="heroStarSolid"></ng-icon>
                        <ng-icon name="heroStarSolid"></ng-icon>
                        <ng-icon name="heroStarSolid"></ng-icon>
                    </div>
                    <div class="starts">
                        <ng-icon name="heroStarSolid"></ng-icon>
                        <ng-icon name="heroStarSolid"></ng-icon>
                        <ng-icon name="heroStarSolid"></ng-icon>
                        <ng-icon name="heroStarSolid"></ng-icon>
                        <ng-icon name="heroStarSolid"></ng-icon>
                    </div>
                </div>
                <p>{{ opinion.fecha | date:'d \'/\' MMMM \'/\' y' }}</p>
            </div>
            <p class="texto-opinion">{{opinion.contenido}}</p>
            <div class="linea-opinion"></div>
        </div>
    </ng-container>
</div>