.opiniones-contenedor{
    width: 95%;
    padding-left: 30px;
}

h1{
    color: #508df1;
    font-size: 51px;
    padding-right: 25px;
    
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 50px;
    margin-bottom: 20px;
}
/*----------------- ESTRELLAS -----------------*/
.estrellas{
    position: relative;
    width: 150px;
    margin-top: 58px;
}
.estrellas .starts{
    margin-top: 0;
    height: 20px;
    display: flex;
    position: relative;
}
.estrellas .starts ng-icon{
    font-size: 25px;
    color: #ccc;
    margin: 2px 6px 2px 0;
}
.estrellas .starts-over{
    width: 80%;
    overflow: hidden;
    display: flex;
    position: absolute;
    z-index: 10;
    left: 0;
}
.estrellas .starts-over ng-icon{
    font-size: 25px;
    color: #5495ff;
    margin: 2px 6px 2px 0;
}/*---------------*/
p.calificaciones{
    margin-top: 10px;
    padding-left: 5px;
    font-size: 14px;
    
    letter-spacing: 1px;
    word-spacing: 4px;
}/*-----------------*/

.barras{
    margin-bottom: 30px;
}
.linea{
    display: flex;
    height: 30px;
    position: relative;
}
.linea p{
    margin:-5px;
    margin-left: 10px;
    
}
.linea ng-icon{
    margin:-4px;
    margin-left: 10px;
    color: #FFA963;
    font-size: 17px;
    position: absolute;
    left: 435px;
}

.linea-span{
    position: relative;
    width: 420px;
    background-color: #ddd;
    border-radius: 4px;
    height: 9px;
}
.fondo-span{
    position: absolute;
    width: 70%;
    background-color: #888;
    border-radius: 4px;
    height: 9px;
}
/*---------- CALIFICACIÓN ---------------*/

select{
    
    color: #4688d9;
	padding: 10px;
	border:1px solid #86a3c7;
	border-radius: 5px;
    outline: none;
	&:hover{
		background: rgba(#4688d9, .1);
	}
}



/*----------------- ESTRELLAS - OPINION -----------------*/
.estrellas-opinion{
    position: relative;
    width: 90px;
    margin-top:20px;
}
.estrellas-opinion .starts{
    margin-top: 0;
    height: 20px;
    display: flex;
    position: relative;
}
.estrellas-opinion .starts ng-icon{
    font-size: 17px;
    color: #ccc;
    margin: 2px 2px 2px 0;
}
.estrellas-opinion .starts-over{
    width: 60%;
    overflow: hidden;
    display: flex;
    position: absolute;
    z-index: 10;
    left: 0;
}
.estrellas-opinion .starts-over ng-icon{
    font-size: 17px;
    color: #5495ff;
    margin: 2px 2px 2px 0;
}

/*-------------*/
.opinion{
    
    position: relative;
}
.opinion div p{
    position: absolute;
    right: 0;
    font-size: 12px;
    color: #888;
    top: 15px;
}
.texto-opinion{
    margin-top: 10px;
    letter-spacing: .2px;
    line-height: 21px;
    font-size: 14.5px;
}

.linea-opinion{
    margin-top: 25px;
    margin-bottom: 5px;
    width: 100%;
    border-bottom: 1px solid #eee;
}

@for $i from 1 through 5 {
    .estrellas-opinion .starts-over.starts-#{$i * 20} {
        width: ($i * 20.2%);
    }
}

@for $i from 1 through 10 {
    .estrellas .starts-over.starts-#{$i * 10} {
        width: ($i * 10.15%);
    }
}