.contenidoDescripcion{
    width: 93%;
    height: auto;
    margin: auto;
    p{
        font-size: 17px;
        font-weight: 420;
        font-family: 'font-uno';
        letter-spacing: 1px;
        color: #707070;
        padding-left: 5px;
        line-height: 28px;
    }
    h2{
        font-size: 22px;
        font-weight: 460;
        font-family: 'font-uno';
        letter-spacing: 1px;
        color: #555;
        padding-left: 5px;
        line-height: 28px;
        margin-top: 0;
        margin-bottom: 30px;
    }
}