.contenidoDescripcion{
    width: 93%;
    height: auto;
    margin: auto;
}
.contenidoDescripcion p{
    font-size: 16px;
    font-weight: 450;
    font-family: 'font-uno';
    letter-spacing: 1px;
    color: #606060;
    padding-left: 5px;
    line-height: 24px;
}