<div class="contenidoDescripcion">
    <p class="ui-pdp-description__content">POLIPTICO 100X70 CMS<br><br>ART INDUSTRY - TIENDA OFICIAL:<br>- GARANTIA DE
        SATISFACCIÓN<br>- PAGO SEGURO<br>- ENVÍO A DOMICILIO<br><br>Cuadro 100x70Cms 5 Piezas Decorativo<br>Decora tu
        sala, alcoba, hall u oficina, con este impresionante Cuadro de 5 piezas modernista. Las imágenes de este cuadro
        Poliptico, reposan sobre cinco (5) bases sólidas y llamativas de 9 milímetros cada una, dándole un aspecto único
        que, a la vez, resalta la imagen en cualquier lugar que lo instales. Viene con todos los materiales necesarios
        para su instalación e instrucciones para hacerlo, ¡es muy sencillo!<br><br>Composición:<br>- 1 pieza de 70 x 20
        cms<br>- 2 piezas de 60 x 20 cms C/U<br>- 2 pieza de 40 x 20 cms C/U<br>Espacio sugerido entre piezas: 1 a
        2cms<br><br><br>PROCESO DE
        COMPRA:<br>1. Lee las características del producto, selecciona el que más te guste, la cantidad y dale Click en
        Comprar. En caso que tengas dudas, las puedes hacer antes de la compra.<br>2. Llena y confirma la dirección del
        domicilio al cual se despachará tu producto. Luego que se acredite tu pago, procederemos a enviarlo. Recibirás
        el número de guía para tu seguimiento.<br>3. Recibe la compra en tu domicilio. Califícanos por tu compra, tu
        opinión es muy importante para nosotros. Con nuestra garantía de satisfacción podrás devolver tu compra y
        recibir el reembolso.<br></p>
</div>