<div class="contenido">
    <div class="grafica">
        <div>
            <div>
                <p>$ 500.000</p><p>$ 400.000</p><p>$ 300.000</p><p>$ 200.000</p><p>$ 100.000</p>
            </div>
        </div>
        <div>
            <div></div><div></div><div></div><div></div><div></div>
        </div>
        <div>
            <p>10 jul.</p><p>11 jul.</p><p>12 jul.</p><p>13 jul.</p><p>14 jul.</p><p>15 jul.</p><p>16 jul.</p>
        </div>
        <p>Ventas brutas</p>
        <p>A día de hoy: <span>$ 465.000</span></p>
    </div>
    <div class="grafica">
        <div>
            <div>
                <p>10</p><p>8</p><p>6</p><p>4</p><p>2</p>
            </div>
        </div>
        <div>
            <div></div><div></div><div></div><div></div><div></div>
        </div>
        <div>
            <p>10 jul.</p><p>11 jul.</p><p>12 jul.</p><p>13 jul.</p><p>14 jul.</p><p>15 jul.</p><p>16 jul.</p>
        </div>
        <p>Unidades vendidas</p>
        <p>A día de hoy: <span>9</span></p>
    </div>
    <div class="grafica">
        <div>
            <div>
                <p>40</p><p>32</p><p>24</p><p>16</p><p>8</p>
            </div>
        </div>
        <div>
            <div></div><div></div><div></div><div></div><div></div>
        </div>
        <div>
            <p>10 jul.</p><p>11 jul.</p><p>12 jul.</p><p>13 jul.</p><p>14 jul.</p><p>15 jul.</p><p>16 jul.</p>
        </div>
        <p>Vistas</p>
        <p>A día de hoy: <span>36</span></p>
    </div>
</div>