.contenido{
    margin-top: 16px;
    height: 550px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 280px 280px;
    column-gap: 20px;
    row-gap: 20px;
    > div{
        border: 1px solid #ddd;
        border-radius: 8px;
        background: #fff;
    }
    .grafica{
        position: relative;
        padding-left: 3px;
        display: grid;
        grid-template-columns: 1fr 4.5fr;
        grid-template-rows: 4fr 1fr;
        padding-right: 6%;
        > div:nth-child(1){
            margin-top: 55px;
            display: flex;
            justify-content: center;
            padding-top: 10px;
            grid-row: 1/3;
            p{
                height: 31.5px;
                font-size: 11.5px;
                color: #666;
                transform: translateX(10%);
                margin: 0;
            }
        }
        > div:nth-child(2){
            margin-top: 58px;
            padding-top: 15px;
            border-left: 1.5px solid #ccc;
            border-bottom: 1.5px solid #bbb;
            height: 153px;
            div{
                height: 30px;
                width: 100%;
                border-top: 1.5px dashed  #ddd;
            }
        }
        > div:nth-child(3){
            margin-top: 6px;
            height: 20px;
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            padding: 0 10px;
            p{  
                position: relative;
                margin: 0;
                font-size: 10px;
                text-align: center;
                color: #666;
                letter-spacing: .4px;
            }
            
            p::after{
                content: '';
                width: 45%;
                position: absolute;
                top: -7.3px;
                left: 27.5%;
                background-color: #9dcbf9;
                border-radius: 5px 5px 0 0;
            }
            p:nth-child(1)::after{
                height: calc(153px * 0.25);
                transform: translateY(- calc(153px * 0.25));
            }
            p:nth-child(2)::after{
                height: calc(153px * 0.15);
                transform: translateY(- calc(153px * 0.15));
            }
            p:nth-child(3)::after{
                height: calc(153px * 0.37);
                transform: translateY(- calc(153px * 0.37));
            }
            p:nth-child(4)::after{
                height: calc(153px * 0.70);
                transform: translateY(- calc(153px * 0.70));
            }
            p:nth-child(5)::after{
                height: calc(153px * 0.55);
                transform: translateY(- calc(153px * 0.55));
            }
            p:nth-child(6)::after{
                height: calc(153px * 1);
                transform: translateY(- calc(153px * 1));
            }
            p:nth-child(7)::after{
                height: calc(153px * 0.90);
                transform: translateY(- calc(153px * 0.90));
                background-color: #5eafff;
            }
        }
        > p:nth-child(4){
            position: absolute;
            top: 5px;
            left: 4.6%;
            font-size: 13px;
            font-weight: 450;
            letter-spacing: .4px;
            color: #4a4a4a;
        }
        > p:nth-child(5){
            position: absolute;
            top: 5px;
            right: 30px;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: .4px;
            color: #7a7a7a;
            span{
                font-size: 11px;
                padding-left: 2px;
                font-weight: 450;
                letter-spacing: .4px;
                color: #888;
            }
        }
    }
    .grafica:nth-child(2),.grafica:nth-child(3){
        padding-left: 7px;
        grid-template-columns: 1fr 7fr;
        > div:nth-child(3){
            p::after{
                width: 44%;
                left: 27%;
            }
        }
        >div:nth-child(1) p{
            margin-left: 15px;
        }
    }
    .grafica:nth-child(3){
        grid-template-columns: 1fr 5.5fr;
    }
}