.contenedor{
    width: 100%;
    margin-top: 16px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 7px;
    min-height: 170px;
    app-producto-guardado:nth-child(1) div{
        border: none;
    }  
    .sinGuardados{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #fdfdfd;
        border-radius: 7px;
        height: 235px;
        img{
            width: 115px;
        }
        p{
            margin-top: 17px;
            font-size: 17.5px;
            color: #888;
            font-weight: 420;
            letter-spacing: .5px;
            word-spacing: 1px;
        }
    }
}