<div class="body">
    <app-barra-menu></app-barra-menu>
    <div class="contenido">
        <h1>Tu historial</h1>
        <div class="encabezado">
            <p>Registo de historial</p>
            <button (click)="onButtonClick()">
				<div class="rectangle" [ngClass]="{'clicked': registroHistorial}">
				  <div class="circle"></div>
				</div>
			</button>
            <div class="linea"></div>
            <button (click)="eliminarHistorial()">Borrar historial</button>
            <p>Administrar</p>
        </div>
        <div class="productos" *ngIf="productos">
            <app-producto-historial (eliminarIndex)="eliminarProductoHistorial($event)" [producto]="producto" [foto]="fotos[index]" [index]="productos.length - 1 - index" *ngFor="let producto of productos; let index = index"></app-producto-historial>
        </div>
    </div>
    <app-footer></app-footer>
</div>