<div class="contenidoTotal">
    <div class="seccionIzquierda" (scroll)="onScroll($event)">
        <ng-container *ngFor="let fotoUrl of producto.detalles!.fotos![0]; let i = index">
            <div *ngIf="fotoUrl" (click)="index = i; cambiarImagen()" class="div">
                <img [src]="fotoUrl">
            </div>
        </ng-container>
        <div *ngIf="producto.detalles!.fotos![0].length > 5 && linea" class="linea">
            <div class="sombra"></div>
        </div>
    </div>
    <div class="seccionDerecha">
        <div><img [src]="selectedImage" (click)="emitirSombra(); emitirIndex()"></div>
    </div>
</div>
