<div class="contenidoTotal">
    <div class="seccionIzquierda">
        <div><img src="../../../../../assets/img/categoria/cuadros/9.jpg" alt=""></div>
        <div><img src="../../../../../assets/img/categoria/cuadros/8.jpg" alt=""></div>
        <div><img src="../../../../../assets/img/categoria/cuadros/7.jpg" alt=""></div>
        <div><img src="../../../../../assets/img/categoria/cuadros/10.jpg" alt=""></div>
    </div>
    <div class="seccionDerecha">
        <div><img src="../../../../../assets/img/categoria/cuadros/14.jpg" alt=""></div>
    </div>
</div>