<div class="contenedor">
    <h2>Direcciones</h2>
    <div class="direccion" *ngFor="let direccion of direcciones; let index = index" >
        <ng-icon name="heroMapPin"></ng-icon>
        <div class="dir">
            <h2>{{direccionesString[index]}}</h2>
            <p>{{direccion.barrio}}, Bogotá D.C.</p>
            <p>{{direccion.nombresApellidos}}</p>
        </div>
        <!--------- POSITION ABSOLUTE --------->
        <div class="verMas">
            <img src="assets/img/logo/iconos/ver-mas.svg">
            <img (click)="desplegarSubMenu(index)"  src="assets/img/logo/iconos/ver-mas-full.svg">
        </div>
        <div *ngIf="subMenu[index]" class="submenu">
            <p (click)="editarContenido('direccion', 'editar', index)">Editar</p>
            <p (click)="editarContenido('direccion', 'eliminar', index)">Eliminar</p>
        </div>  
    </div>
    <div class="agregarDireccion" (click)="editarContenido('direccion', 'agregar')">
        <p>+ Agregar dirección</p>
    </div>
</div>