.contenidoHeader{
	width: 1400px;
	max-width: 1400px;
	height: 220px;
	margin: auto;
	margin-top: 30px;
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 10px;
	display: grid;
	grid-template-columns: 1.8fr 1fr;
	column-gap: 30px;
	div:nth-child(1){
		h2{
			font-size: 26px;
			font-weight: 520;
			color: #606060;
			letter-spacing: .5px;
			word-spacing: 1px;
			margin-left: 30px;
			max-width: 90%;
			margin-top: 25px;
		}
		button{
			margin: 30px;
			margin-top: 20px;
			width: 260px;
			height: 45px;
			border-radius: 8px;
			border: none;
			background-color: #ffb179;
			color: #fff;
			font-size: 15px;
			font-weight: 500;
			letter-spacing: .3px;
			word-spacing: 1px;
			cursor: pointer;
			&:hover{
				background-color: #FF9E57;
			}
		}
	}
	div:nth-child(2){
		display: flex;
		justify-content: center;
		align-content: center;
		img{
			align-self: center;
			height: 165px;
			margin-right: 35px;
		}
	}

	@media(max-width: 1450px){
		width: 90%;
	}
}
.segunda-seccion{
	width: 1400px;
	max-width: 1400px;
	min-height: 215px;
	margin: auto;
	margin-top: 30px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 20px;
	> div {
		background-color: white;
		border-radius: 10px;
		border: 1px solid #ddd;
		>p:nth-child(1){
			position: relative;
			margin: 0;
			height: 50px;
			background-color: #999;
			background: linear-gradient(to bottom, #909090, #999);
			color: white;
			font-weight: 500;
			letter-spacing: .5px;
			word-spacing: 1px;
			font-size: 16px;
			border-radius: 5px 5px 0 0;
			line-height: 50px;
			text-align: center;
		}
		>p:nth-child(2){
			margin: 15px 30px;
			color: #666;
			font-weight: 420;
			letter-spacing: .3px;
			word-spacing: 1px;
			font-size: 14px;
			line-height: 25px;
		}
	}

	@media(max-width: 1450px){
		width: 90%;
	}
}