<div class="contenidoHeader">
    <div>
        <h2>¡Crea con pasión, vende con éxito! Únete a Joum y comparte tu arte con el mundo.</h2>
        <button (click)="navegar(['vender/formulario/paso1'],$event)" >Registrar mi producto</button>
    </div>
    <div>
        <img src="assets/img/ilustraciones/box.svg">
    </div>
</div>
<div class="segunda-seccion">
    <div>
        <p>¿Qué necesitas?</p>
        <p>Debes tener a la mano tu documento de identidad, y las ganas de sacar adelante tu versión artistica</p>
    </div>
    <div>
        <p>¿Por qué vender en JOUM?</p>
        <p>En Joum podrás tener tu lugar como artista y tendrás la oportunidad de generar ingresos a vace de tus pasiones.</p>
    </div>
    <div>
        <p>¿Como funciona?</p>
        <p>En Joum, eres muy importante para que todo el proceso sea funcional y impecable. Tendrás una guía completa sobre lo que tengas dudas en la sección de ayuda.</p>
    </div>
</div>