<div class="contenidoTotal1">
    <div class="contenido1">
        <div class="textcontenido1">
            <h1>Conviertete en vendedor de joum</h1>
            <p>Remodela la casa de tus clientes con tus propios productos</p>
            <a [routerLink]="['formulario/paso1']" (click)="restartScroll()">Empieza a vender</a>
        </div>
        <div class="imgcontenido1">
            <img src="../../../../../../assets/img/anuncios/vender.png" alt="Image" width="500px" height="420px">
        </div>
    </div>
</div>
<div class="contenido2">
    <div class="textContenido2">
        <h1>¿Como funciona y para qué?</h1>
        <p>vender en joum garantiza ayudar a las personas creativas, quienes diceñan cosas como lo pueden ser: cuadros, estantes, adornos de cualquier material, y cualquier otro articulo que aporte en el buen estilo de los hogares. Así que Explora tu creatividad diseñando manualidades con las que consigas tu rentabilidad deseada, mientras aprendes y te diviertes haciendo lo que más te gusta a tu propio estilo</p>
    </div>
    <div class="text2Contenido2">
        <h1>¿Que funciona? </h1>
        <p>Si quieres aumentar tus productos o no sabes que quieres vender, puedes investigar un sin fin de manuelidades que podrías hacer, y ganar dinero a base de tu creatividad, o también podrías vender productos que quizá compraste en otro lugar</p>
    </div>
</div>