<div class="Carousel">
    <ng-content select='.categoria'></ng-content>
    <div #slickList Class="slick-list">
        <button (click)='Move(1)' Class="botones boton-prev">
            <ng-icon name="heroChevronLeftSolid"></ng-icon>
        </button>
        <div #track Class="slick-track">
            <div *ngFor='let element of elements' style="margin-left: -18px;" class="slick">
                <picture>
                    <img [src]='element' alt="Image">
                </picture>
            </div>
        </div>
        <button (click)='Move(2)' class="botones boton-next" id="button-next">
            <ng-icon name="heroChevronRightSolid"></ng-icon>
        </button>
    </div>
</div>
