.Carousel {
    width: 100%;
  
    .slick-list {
      position: relative;
      display: flex;
      align-items: center;
      height: 275px;
      margin: 0 auto;
      max-width: 1400px;
      overflow: hidden;

      $base-height: 240px;
      $breakpoint: 1300px;

      @media (max-width: #{$breakpoint}) {
        height: 240px;
      }

      @for $i from 1 through 4 {
        $breakpoint: $breakpoint - 100px;

        @media (max-width: #{$breakpoint}) {
          height: calc(#{$base-height} - #{$i * 15px});
        }
      }
  
      .slick-track {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        transition: .4s ease-in-out;
        background-color: red;
        width: 400%;
  
        .slick {
          float: left;
          box-sizing: border-box;
          display: flex;
  
          img {
            position: absolute;
            width: 25%;
            object-fit: cover;
            max-height: 265px;
            border-radius: 7px 7px 0 0;
          }
        }
        .slick:nth-child(2) {
          img {
            left: 25%;
          }
        }
        .slick:nth-child(3) {
          img {
            left: 50%;
          }
        }
      }
    }
  }
  
  .botones {
    border-radius: 30px;
    background-color: #fff;
    position: absolute;
    z-index: 4;
    width: 48px;
    height: 48px;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    border: 0;
    cursor: pointer;
    &:focus {
      outline: 0;
    }
    svg {
      width: 12px;
      height: 100%;
      color: rgba(0, 0, 0, 0.7);
    }
  }
  
  .boton-prev, .boton-next {
    width: 37px;
    height: 38px;
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 45px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-radius: 40%;
    font-family: monospace;
    cursor: pointer;
    transition: .2s;
    ng-icon {
      color: #555;
      font-size: 25px;
    }
  }
  
  .boton-prev {
    left: 15px;
    font-weight: bold;
    padding-top: 3px;
    padding-left: 8px;
    ng-icon{
      transform: translate(-2px,-8px)
    }
  }
  
  .boton-next {
    right: 15px;
    font-weight: bold;
    padding-top: 3px;
    padding-left: 8px;
    ng-icon{
      transform: translateY(-8px)
    }
  }
  
  .boton-prev:hover, .boton-next:hover {
    background: #FF9E57;
    &:hover ng-icon {
      color: white;
    }
  }
  
  .slick-text {
    text-align: center;
    font-size: 23px;
    margin-top: 5px; 
    color: #222;
    height: 14px;
  }
  
  ng-icon {
    margin-top: 7px;
  }