<div class="body">
    <app-menu-simple></app-menu-simple>
    <div class="contenido-compra">
        <div class="izquierda">
            <router-outlet></router-outlet>
        </div>
        <div class="derecha">
            <button disabled="true">Finalizar compra</button>
            <div>
                <p>Productos (3)</p> <p>$ 613.000</p>
            </div>
            <div>
                <p>Envio</p> <p>$ 6.000</p>
            </div>
            <div class="linea"></div>
            <div>
                <p>Total</p> <p>$ 619.000</p>
            </div>
        </div>
    </div>

    <app-footer></app-footer>
</div>