<div class="contenidoTotal">
	<div class="seccion1">
		<div><p>Precio</p><ng-icon name="heroChevronDown"></ng-icon></div>
		<div><p>Condición del producto</p><ng-icon name="heroChevronDown"></ng-icon></div>
	</div>
	<div class="seccion2">
		<div><p>Ordenar por</p><ng-icon name="heroChevronDown"></ng-icon></div>
		<ng-icon name="aspectsGrid" [ngStyle]="{'color':listadoCuadrados ? '#FFAA5A': '#666'}" (click)="cambiarListado1()" ></ng-icon>
		<ng-icon name="heroQueueList" [ngStyle]="{'color':listadoLineado ? '#FFAA5A': '#666'}" (click)="cambiarListado2()"></ng-icon>
	</div>
</div>
