<div class="ingresarContrasena" *ngIf="ingresarContrasena">
    <h2>Validación</h2>
    <label for="password">Ingresa tu contraseña</label>
    <input type="password" id="password" placeholder="* * * *" [(ngModel)]="password" (click)="error = ''" [ngClass]="{'errorInput': error !== ''}">
    <p class="error" *ngIf="error !== ''">{{error}}</p>
    <div>
        <button [disabled]="cargando" (click)="validarcontrasena()" [ngClass]="{'cargando': cargando, 'success': actualizacionExitosa}">
            <span *ngIf="!cargando">Validar</span> 
            <span class="loading" *ngIf="cargando && !actualizacionExitosa"></span>
            <ng-icon name="matCheck" *ngIf="actualizacionExitosa"></ng-icon>
        </button>
        <button (click)="cerrarContenido()">Cancelar</button>
    </div>
    <ng-icon name="ionClose" (click)="cerrarContenido()"></ng-icon>
</div>

<div class="ingresarCodigoEmail" *ngIf="ingresarCodigoEmail">
    <h2>Mejorar metodo de acceso</h2>
    <h4>Tu cuenta está vinculada a tu correo de Google. ¿Deseas agregar autenticación con correo y contrasena sin afectar tu acceso actual con Google?</h4>
    <p class="errorGmail" *ngIf="error !== ''">{{error}}</p>
    <div>
        <button [disabled]="cargando" (click)="reautenticarGmail()" [ngClass]="{'cargando': cargando, 'success': actualizacionExitosa}">
            <span *ngIf="!cargando">Aceptar</span> 
            <span class="loading" *ngIf="cargando && !actualizacionExitosa"></span>
            <ng-icon name="matCheck" *ngIf="actualizacionExitosa"></ng-icon>
        </button>
        <button (click)="cerrarContenido()">Cancelar</button>
    </div>
    <ng-icon name="ionClose" (click)="cerrarContenido()"></ng-icon>
</div>

<div class="ingresarNuevaContrasena" *ngIf="ingresarNuevaContrasena">
    <h2>Cambiar contraseña</h2>
    <label for="password">Ingresa tu nueva contraseña</label>
    <input type="password" id="password" placeholder="* * * *" [(ngModel)]="nuevaContrasena" (click)="errorPasswordVerify = ''; errorPassword = '' " [ngClass]="{'errorInput': errorPassword !== ''}" autocomplete="off">
    <p class="errorpassword" *ngIf="errorPassword !== ''">{{errorPassword}}</p>

    <label for="passwordVerify">Confirma tu nueva contraseña</label>
    <input type="password" id="passwordVerify" placeholder="* * * *" [(ngModel)]="nuevaContrasenaVerificacion" (click)="errorPasswordVerify = ''; errorPassword = '' " [ngClass]="{'errorInput': errorPasswordVerify !== ''}" autocomplete="off">
    <p class="errorpasswordVerify" *ngIf="errorPasswordVerify !== ''">{{errorPasswordVerify}}</p>
    
    <div>
        <button [disabled]="cargando" (click)="submit()" [ngClass]="{'cargando': cargando, 'success': actualizacionExitosa}">
            <span *ngIf="!cargando">Actualizar</span> 
            <span class="loading" *ngIf="cargando && !actualizacionExitosa"></span>
            <ng-icon name="matCheck" *ngIf="actualizacionExitosa"></ng-icon>
        </button>
        <button (click)="cerrarContenido()">Cancelar</button>
    </div>
    <ng-icon name="ionClose" (click)="cerrarContenido()"></ng-icon>
</div>
