.body {
	position: relative;
	min-height: 100vh;
	padding-bottom: 430px;
	min-width: 870px;
	overflow: hidden;
	background-color: #f8f8f8;
}
.contenido{
    width: 1400px;
	margin: auto;
	@media screen and (max-width: 1450px) {
	  width: 90%;
	  margin: auto;
	}
	.header{
		margin-top: 40px;
		margin-bottom: 40px;
		img{
			border-radius: 12px;
			width: 100%;
			box-shadow: 0 -0.1px 2.8px rgba(0,0,0,0.06), 0 3.1px 2.5px rgba(0,0,0,0.02);
		}
	}
	> button{
		opacity: .25;
		margin-top: 30px;
		width: 200px;
		height: 40px;
		border: none;
		border-radius: 5px;
		background-color: #999;
		color: white;
		font-weight: 420;
		font-size: 15px;
		cursor: pointer;
		&:hover{
			background-color: rgb(27, 205, 142);
		}
	}
}