.total{
	margin-left: 25px;
	font-family: 'font-uno';
}
.saber div{
	width: auto;
	padding: 10px;
	margin: 10px 10px 10px 0;
	position: relative;
	height: 15px;
	border:1px solid #86a3c7;
	border-radius: 5px;
	cursor: pointer;
	&:hover{
		background: rgba(#4688d9, .1);
	}
}
.saber div p{
	color: #4688d9;
	margin-top: -3px;
	font-size: 13px;
	font-weight: 500;
	padding: 2px 10px;
}

/*----------------------------------------------------------------------------*/

.buscar{
	display: flex;
	color: red;
}
.buscar input{
	margin-top: 10px;
	padding: 2px 13px;
	height: 34px;
	border: 1px solid #bbb;
	width: 700px;
	outline: none;
	border-radius: 5px;
	letter-spacing: 1px;
	color: #444;
}
.buscar div{
	background: #669ad9;
	padding: 10px;
	margin: 10px 10px 10px 15px;
	position: relative;
	height: 17px;
	border-radius: 4px;
	cursor: pointer;
	&:hover{
		background-color: #4688d9;
	}
}
.buscar div p{
	color: #fff;
	margin-top: -3px;
	font-size: 15px;
	margin-left: -3px;
	font-weight: 600;
	padding: 2px 13px 0 13px;
}

/*----------------------------------------------------------------------------*/
.preguntasYrespuestas{
	width: 98.5%;
	height: auto;
	border-radius: 3px;
	border: 1px solid #ccc;
	overflow-x: hidden;
	position: relative;
	max-height: 450px;
	overflow-y: auto;
}
.preguntasYrespuestas div.pregunta{
	background: #fff;
	width: 100%;
	height: auto;
	position: relative;
	border-bottom: 1px solid #ddd;
}
.preguntasYrespuestas div.respuesta{
	background: #f5f5f5;
	width: 100%;
	height: auto;
	position: relative;
	border-bottom: 1px solid #ddd;
	position: relative;
}
.preguntasYrespuestas div.pregunta p{
	padding: 15px;
	margin: 0 5px;
	color: #444;
	font-size: 14px;
}
.preguntasYrespuestas div.respuesta p{
	padding: 16px;
	margin: 0 26px;
	color: #444;
	font-size: 13px;
}

/*----------------------------------------------------------------------------*/

h1{
	color: #555;
	font-size: 23px;
	font-weight: 500;
}
h2{
	color: #666;
	font-size: 18px;
	font-weight: 450;
}
h3{
	color: #666;
	font-size: 17px;
	margin-top: 28px;
	font-weight: 450;
}