<div class="total">
	<h1>Preguntas y respuestas</h1>

	<h2>¿Qué quieres saber?</h2>

	<div style="display: flex" class="saber">
		<div><p>Costo y tiempo de envío</p></div><div><p>Medios de pago</p></div><div><p>Garantía</p></div>
	</div>

	<div class="buscar">
		<input type="text"><div class="btn"><p>Preguntar</p></div>
	</div>

	<h3>Ultimas preguntas realizadas</h3>

	<div class="preguntasYrespuestas">
		<div class="pregunta"><p><i class="fa fa-circle" aria-hidden="true"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p></div>
		<div class="respuesta"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p></div>
		<div class="pregunta"><p><i class="fa fa-circle" aria-hidden="true"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p></div>
		<div class="respuesta"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p></div>
		<div class="pregunta"><p><i class="fa fa-circle" aria-hidden="true"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p></div>
		<div class="respuesta"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.</p></div>
		
	</div>

</div>