<div class="contenedor">
    <div>
        <div class="cuadroImg">
            <img *ngIf="foto" [src]="foto" (click)="navegar(['prod/' + productoGuardado.id])">
        </div>
        <div>
            <p>{{productoGuardado.nombre}}</p>
            <p>Estilo: {{estilo?.nombre}}</p>
            <p *ngIf="productoGuardado.envioGratis" class="envioGratis">Envio gratis</p>
            <p *ngIf="!productoGuardado.envioGratis" class="envioPrecio"><span>Recíbelo</span> por <span>$ {{productoGuardado.precioEnvio}}</span></p>
        </div>
        <div>
            <p (click)="eliminarGuardado()">Eliminar</p>
            <p (click)="navegar([userUsuario + '/perfil/productos'])">Más productos del vendedor</p>
            <p (click)="agregarCarrito()">Enviar al carrito</p>
        </div>
    </div>
    <div>
        <ng-container *ngIf="productoGuardado.descuento">
            <p>$ {{productoGuardado.precio! - (productoGuardado.precio! * (productoGuardado.porcentajeDescuento! / 100)) | number: '1.0-0'}}</p>
            <div>
                <p>$ {{productoGuardado.precio}}</p><p>- {{productoGuardado.porcentajeDescuento}}%</p>
            </div>
        </ng-container>
        <ng-container *ngIf="!productoGuardado.descuento">
            <p>$ {{productoGuardado.precio | number: '1.0-0'}}</p>
            <p></p>
        </ng-container>
        <p>{{estilo?.unidades}} disponibles</p>
        <div>
            <button (click)="cambiarUnidad('-', indice, estilo!.unidades)">-</button><p>{{unidad}}</p><button (click)="cambiarUnidad('+', indice, estilo!.unidades)">+</button>
        </div>
    </div>
</div>