<div class="contenedor">
    <div>
        <app-producto-carrito (unidadEmitida)="cambiarUnidades($event)" [productoCarrito]="productoCarrito" [unidades]="unidades[i]" [indice]="i" *ngFor="let productoCarrito of productos; let i = index; " ></app-producto-carrito>
    </div>
    <div>
        <button>Realizar compra</button>
        <div>
            <p>Productos({{cantidadProductos}})</p><p>$ {{precioProductos | number: '1.0-0'}}</p>
        </div>
        <div>
            <p>Envio</p><p>$ {{precioEnvio | number: '1.0-0'}}</p>
        </div>
        <div class="linea"></div>
        <div>
            <p>Total</p><p>$ {{precioEnvio + precioProductos | number: '1.0-0'}}</p>
        </div>
    </div>
</div>