form.paso4{
	width: 1150px;
	height: 450px;
	margin: 40px auto;
}

form.paso4 h1{
	color: #555;
	font-size: 36px;
	text-align: center;
}

form.paso4 p{
	color: #555;
	width: 90%;
	font-size: 25px;
	margin: auto;
	text-align: center;
}

form.paso4 div.inputs div{
	width: 102%;
	margin: 45px 0px;
	display: flex;
	flex-wrap: wrap;
}

form.paso4 div.inputs div.input{

	display:flex;
	margin: 20px 1% 20px 0px;
	width: 100%;

}

form.paso4 div.input input{
	width: 100%;
	border-radius: 5px;
	border: 1px solid #999;
	min-width: 450px !important;
	margin-left: 70px;
	padding: 10px;
	outline: none;
	height: 100px;
}

form.paso4 div.input input::placeholder{
	color: #777;
	font-size: 15px;
}

form.paso4 div.input input:focus{
	border: 1px solid #FF9E57;
}


form.paso4 div.linea{
	width: 100%;
	border-bottom: 2px solid #ddd;
}

form.paso4 div.input select{
	border-radius: 5px;
	border: 1px solid #999;
	width: 245px;
	color: #777;
	height: 40px;
	font-size: 15px;
}

form.paso4 div.input select:focus{
	border: 1px solid #FF9E57;
}

form.paso4 div.input label{
	font-size: 20px;
	padding: 7px 10px 0px 5px;
	width: 205px;
	text-align: right;
	margin-left: 10%;

}


.btn3{
	width: 30%;
	float: right;
	background:white;
	height: 40px;
	border:1px solid #777;
	color: #888;
	border-radius: 6px;
	font-size: 16px;
	margin: 30px 40px;
	text-align: center;
}

.btn3active {
	width: 30%;
	float: right;
	background:#FF9E57;
	height: 40px;
	color: white;
    border: none;
	border-radius: 6px;
	font-size: 16px;
	margin: 32px 40px;
	text-align: center;
  cursor: pointer;
}

#btn-anterior3{
	float: left;
	background: #FF9E57;
	border: none;
	color: white;
	cursor: pointer;
}

textarea{
	width: 78%;
	max-width: 78%;
	min-width: 78%;
	height: 120px;
	max-height: 120px;
	min-height: 120px;
	outline: none;
	font-size: 20px;
	margin: 30px 9% 20px 9%;
	border: 1px solid #aaa;
	letter-spacing: 1px;
	padding: 18px;
	color: #555;
	font-weight: 100;
}
//---------------------------------------------------------------
.inputs{
	position: relative;
}
.anadirFoto{
	position: absolute;
	padding: 40px 376px;
	border: 1px dashed #FF9E57;
	cursor: pointer;
	left: 9.1%;
	top: 211px;
	border-radius: 4px;

}
.anadirFoto:hover{
	border: 2px solid #FF9E57;
	top: 210px;
	left: 9%;
}
.fotoDesable{
	display: none;
}