<div (click)="navegar(['prod/'+ favorito.id], $event)"class="contenedor">
    <img src="{{favorito.detalles?.fotos![0][0]}}">
    <div>
        <p>{{favorito.nombre}}</p>
        <div *ngIf="favorito.descuento">
            <p>$ {{ favorito.precio | number:'1.0-0'}}</p>
            <p>- {{ favorito.porcentajeDescuento}}% OFF</p>
        </div>
        <p *ngIf="favorito.descuento">$ {{ favorito.precio! - (favorito.precio! * (favorito.porcentajeDescuento! / 100)) | number:'1.0-0' }}</p>
        <p class="precio" *ngIf="!favorito.descuento">$ {{ favorito.precio | number:'1.0-0'}}</p>
        <p class="envioGratis">Envío gratis</p>
    </div>
    <div>
        <img src="assets/img/logo/iconos/Share.svg">
        <img src="assets/img/logo/iconos/Share-full.svg">
    </div>
    <div>
        <img src="assets/img/logo/iconos/Delete.svg">
        <img src="assets/img/logo/iconos/Delete-full.svg">
    </div>
</div>