<h1>Tu dinero</h1>
<div class="contenedor">
    <div class="left">
         <div>
            <p>Movimientos</p>
            <select>
                <option value="">Periodo</option><option value="">ultimos 7 días</option>
            </select>
         </div>
         <div class="movimientos">
            <app-movimiento-dinero [movimiento]="movimiento" *ngFor="let movimiento of usuario?.dinero!.transacciones"></app-movimiento-dinero>
         </div>
    </div>
    <div class="right">
        <div>
            <p>Disponible</p>
            <p>$ {{usuario?.dinero?.disponible | number: '1.0-0'}}</p>
        </div>
        <div>
            <p>A liberar</p>
            <p>$ {{usuario?.dinero?.aLiberar | number: '1.0-0'}}</p>
        </div>
        <button>Retirar dinero</button>
    </div>
</div>