<div class="cuadro" (mouseenter) ="mostrarCorazon() "  (mouseleave) ="mostrarCorazon()">
    <div class="corazones">
        <div class="fondo-corazon" [ngClass]="{'corazon-visible': corazonOver == true || corazonClick == true }">
            <ng-icon class="corazon" name="heroHeart" (click)="agregarFavorito()"></ng-icon>
            <ng-icon class="corazon-full" name="heroHeartSolid" [class.corazon-click] = "corazonClick == true"></ng-icon>
        </div>
    </div>
    
    <div (click)="navegar(['prod/',producto.id], $event)" >
        <picture>
        <img [src]="foto">
        </picture>
        <div style="height: 100px; position: relative;">
            <p class="titulo-producto">{{ producto.nombre }}</p>
            <p *ngIf="producto.descuento" class="precio-anterior">$ {{ producto.precio | number: '1.0-0' }}</p>
            <div class="precios" style="display: flex; margin: 0 0 6px 0">
                <p class="precio-final" *ngIf='producto.porcentajeDescuento'>$ {{ producto.precio! - (producto.precio! * (producto.porcentajeDescuento! / 100)) | number:'1.0-0' }}</p>
                <p class="precio-final" *ngIf='!producto.porcentajeDescuento'>$ {{ producto.precio | number:'1.0-0' }}
                <p class="porcentaje-rebaja" *ngIf='producto.porcentajeDescuento'>{{ producto.porcentajeDescuento}}% OFF</p>
            </div>
            <div class="estrellas">
                <div class="starts-over" [ngClass]="'starts-' + promedioCalificacion">
                    <ng-icon name="matStarRound"></ng-icon>
                    <ng-icon name="matStarRound"></ng-icon>
                    <ng-icon name="matStarRound"></ng-icon>
                    <ng-icon name="matStarRound"></ng-icon>
                    <ng-icon name="matStarRound"></ng-icon>
                </div>
                <div class="starts">
                    <ng-icon name="matStarRound"></ng-icon>
                    <ng-icon name="matStarRound"></ng-icon>
                    <ng-icon name="matStarRound"></ng-icon>
                    <ng-icon name="matStarRound"></ng-icon>
                    <ng-icon name="matStarRound"></ng-icon>
                </div>
            </div>
            <p class="numVotos">({{index}})</p>
        </div>
        <p class="eliminar" (click)="eliminarProductoHistorial(); $event.stopPropagation();">Eliminar</p>
    </div>
</div>
