<h1>Métricas</h1>
<div class="encabezado">
    <div [ngClass]="{'active': encabezadoUrl === 'negocio'}" (click)="navegar(['abcd/metricas/negocio'], $event)" >Negocio</div>
    <div [ngClass]="{'active': encabezadoUrl === 'atencion'}" (click)="navegar(['abcd/metricas/atencion-compradores'], $event)" >Atención de clientes</div>
    <div [ngClass]="{'active': encabezadoUrl === 'stock'}" (click)="navegar(['abcd/metricas/stock'], $event)" >Stock</div>
    <div [ngClass]="{'active': encabezadoUrl === 'puntos'}" (click)="navegar(['abcd/metricas/puntos'], $event)" >Puntos</div>
    <div>
        <ng-icon name="heroAdjustmentsHorizontal"></ng-icon>
        <select>
            <option> Ultimos 7 días</option>
            <option>Este mes</option>
        </select>
    </div>
</div>
<router-outlet></router-outlet>