<div class="body" *ngIf="venta">
    <app-menu-simple></app-menu-simple>
    <h1>Venta <span>#{{venta.numVenta}}</span></h1>
    <div class="contenido">
        <div class="left">
            <div class="encabezado">
                <img src="assets/img/usuarios/user.svg">
                <div>
                    <h3>
                        <span *ngIf="tipoUsuario == 'vendedor'">{{usuarioCliente?.nombre}}</span>
                        <span *ngIf="tipoUsuario == 'cliente'">{{usuarioVendedor?.nombre}}</span>
                    </h3>
                </div>
                <div>
                    <img src="assets/img/logo/iconos/ver-mas.svg">
                    <img (click)="navegar(['MOTTAANDRES20221130093921/MOTTAANDRES20221130093921/enviar-mensaje'], $event)" src="assets/img/logo/iconos/ver-mas-full.svg">
                </div>
            </div> 
            <div class="chat">
                <div class="contenedorMensajes" #contenidoMensajes>
                    <app-mensaje [mensaje]="mensaje" [tipoUsuario]="tipoUsuario" *ngFor="let mensaje of chat?.mensajes"></app-mensaje>
                </div>
                <div>
                    <div class="message-input" contenteditable="true" contenteditableModel #mensajeElement (input)="inputMensaje()"></div>
                    <p class="placeHolder" *ngIf="!mensaje">Escribe un mensaje</p>
                    <img src="assets/img/logo/iconos/send-message.svg" (click)="enviar()">
                </div>
            </div>
        </div>

        <div class="right">
            <div class="encabezado">
                <p>Compra: 14 de julio 15:20</p>
            </div>
            <div class="contenedorMensajes">
                <app-producto [producto]="producto" [unidad]="unidades[i]" [foto]="fotos[i]" *ngFor="let producto of productos; let i = index"></app-producto>
            </div>
        </div>
    </div>
</div>
