
.contenidoDatosProducto{
    margin-top: 30px;
    position: relative;
    border: 1px solid #e1e0dd;
    width: 100%;
    transform: translateX(3%);
    border-radius: 5px;
}
.contenido{
    width: 88%;
    margin-left: 6%;
    padding-bottom: 40px;
}
.contenidoDatosProducto .titulo{
    color: #505050;
    
    font-size: 20px;
    margin: 27px 0 10px 0;
    letter-spacing: .6px;
    font-weight: 480;
    padding-left: 6px;
}
.sub-titulo{
    font-size: 16px;
    font-weight: 450;
    letter-spacing: .7px;
    color: #555;
    
    margin: 25px 0 10px 0;
    padding-left: 7px;
}
.tabla{
    border-radius: 6px;
    overflow: hidden;
    opacity: .8;
    border: 1px solid #ececec;
}
table{
    border-collapse: collapse;
    padding: 5px;
    
    font-size: 14px;
}

table th{
    padding: 20px;
    text-align: left;
    width: 40%;
    font-weight: 550;
    padding-left: 14px;
    min-width: 130px;
    padding-right: 10px;
    font-size: 13.5px;
    letter-spacing: .3px;
}
table td{
    padding: 20px;
    text-align: left;
    width: 60%;
    font-weight: 430;
    padding-left: 12px;
    padding-right: 8px;
    font-size: 13.5px;
    letter-spacing: .3px;
}

table tr:nth-child(even){
    th{
        background-color: #f7f7f7;
    }
    td{
        background-color: #fbfbfb;
    }
}
table tr:nth-child(odd){
    th{
        background-color: #f1f1f1;
    }
    td{
        background-color: #f7f7f7;
    }
}