<div class="contenidoDatosProducto">
    <div class="contenido">
		<h2 class="titulo">Características</h2>
        <h2 class="sub-titulo">Principales</h2>
		<div class="tabla">	
			<table>
				<ng-container *ngFor="let detalle of detalles">
					<ng-container *ngIf="!ValoresAEvitar(detalle[0])">
					  <tr>
						<th>{{ detalle[0] }}</th>
						<td>{{ detalle[1] }}</td>
					  </tr>
					</ng-container>
				</ng-container>
			</table>
		</div>
		<ng-container *ngIf="producto.categoria !== 'difusores'">
			<h2 class="sub-titulo">Medidas</h2>
			<div class="tabla">	
				<table>
					<ng-container *ngFor="let detalle of detallesDimensiones">
						<tr>
							<th>{{ detalle[0] }}</th>
							<td>{{ detalle[1] }}</td>
						</tr>
					</ng-container>
				</table>
			</div>
		</ng-container>
    </div>
</div>
