<div class="contenidoDatosProducto">
    <div class="contenido">
		<h2 class="titulo">Características</h2>
        <h2 class="sub-titulo">Principales</h2>
		<div class="tabla">	
			<table>
				<tr>
					<th>Marca:</th><td>Art Industry</td>
				</tr>
				<tr>
					<th>Modelo:</th><td>Noche estrelladaArt Industry</td>
				</tr>
				<tr>
					<th>Temática del cuadro:</th><td>Paisaje</td>
				</tr>
				<tr>
					<th>Altura x Ancho:</th><td>70 cm x 100 cm</td>
				</tr>
				<tr>
					<th>Cantidad de cuadros:</th><td>5</td>
				</tr>
			</table>
		</div>
		<h2 class="sub-titulo">Otras</h2>
		<div class="tabla">	
			<table>
				<tr>
					<th>Marca:</th><td>Art Industry</td>
				</tr>
				<tr>
					<th>Modelo:</th><td>Noche estrelladaArt Industry</td>
				</tr>
				<tr>
					<th>Temática del cuadro:</th><td>Paisaje</td>
				</tr>
				<tr>
					<th>Altura x Ancho:</th><td>70 cm x 100 cm</td>
				</tr>
				<tr>
					<th>Cantidad de cuadros:</th><td>5</td>
				</tr>
			</table>
		</div>
    </div>
</div>
