<ng-container *ngIf="fotos">
    <div class="contenedor" *ngFor="let producto of productos, let index = index">
        <img [src]="fotos[index]">
        <div>
            <h3>{{fecha | date:'d \'de\' MMMM \'.\' y'}}</h3>
            <p>{{producto.nombre}}</p>
            <p>ver producto</p>
        </div>
        <div>
            <div (click)="navegar([usuarioVendedor +'/perfil/informacion'], $event)">
                <img src="assets/img/usuarios/user.svg"><p> {{nombreVendedor}}</p>
            </div>
            <div (click)="navegar([usuarioVendedor+'/' + miUsuario +'/' + compra.numVenta +'/enviar-mensaje'], $event)">
                <img src="assets/img/logo/iconos/Msg-full.svg"><p>Enviar mensaje</p>
            </div>
            <div (click)="navegar([miUsuario+'/compras/detalle-compra/'+ compra.numVenta], $event)">
                <ng-container *ngIf="!compra.enCamino && !compra.entregado" >
                    <img src="assets/img/logo/iconos/In-time.svg"><p>En Preparación</p>
                </ng-container>
                <ng-container *ngIf="compra.enCamino && !compra.entregado" >
                    <img src="assets/img/logo/iconos/In-time.svg"><p>En camino</p>
                </ng-container>
                <ng-container *ngIf="compra.entregado" >
                    <img src="assets/img/logo/iconos/Time-check.svg"><p>Entregado</p>
                </ng-container>
            </div>
        </div>
        <div>
            <button (click)="navegar([miUsuario+'/compras/detalle-compra/'+ compra.numVenta], $event)">Ver detalle</button>
            <button (click)="navegar(['prod/' + producto.id], $event)">Volver a comprar</button>
        </div>
    </div>
</ng-container>