<ng-container>
    <div class="contenedor" *ngFor="let referencia of referencias, let index = index">
        <img [src]="referencia.foto">
        <div>
            <h3>{{fecha | date:'d \'de\' MMMM \'.\' y'}}</h3>
            <p>{{referencia.tituloProducto}} <span *ngIf="referencia.gramosTamanio !== 'false'">{{referencia.gramosTamanio}}</span></p>
            <p (click)="navegar(['prod/' + referencia.idProducto], $event)">ver producto</p>
        </div>
        <div>
            <div (click)="navegar([usuarioVendedor+'/' + miUsuario +'/' + compra.numVenta +'/enviar-mensaje'], $event)">
                <img src="assets/img/logo/iconos/Msg-full.svg"><p>Enviar mensaje</p>
            </div>
            <div (click)="navegar([miUsuario+'/compras/detalle-compra/'+ compra.numVenta], $event)">
                <ng-container *ngIf="!compra.enCamino && !compra.entregado" >
                    <img src="assets/img/logo/iconos/In-time.svg"><p>En Preparación</p>
                </ng-container>
                <ng-container *ngIf="compra.enCamino && !compra.entregado" >
                    <img src="assets/img/logo/iconos/In-time.svg"><p>En camino</p>
                </ng-container>
                <ng-container *ngIf="compra.entregado" >
                    <img src="assets/img/logo/iconos/Time-check.svg"><p>Entregado</p>
                </ng-container>
            </div>
        </div>
        <div>
            <button (click)="navegar([miUsuario+'/compras/detalle-compra/'+ compra.numVenta], $event)">Ver detalle</button>
            <button (click)="navegar(['prod/' + referencia.idProducto], $event)">Volver a comprar</button>
        </div>
    </div>
</ng-container>