<div class="total">
	<div>
		<h2>{{ultimoDatoUrl}}</h2>
		<p>51 resultados</p>
	</div>
	<div class="linea"></div>
	<div>
		<div>
			<p>Envío gratis</p>
			<button (click)="onButtonClick()">
				<div class="rectangle" [ngClass]="{'clicked': envioGratis}">
				  <div class="circle"></div>
				</div>
			</button>
		</div>
	</div>
	<div class="linea"></div>
	<div>
		<h2>Precio</h2>
		<div>
			<div>
				<p>Minimo</p>
				<input type="text" placeholder="Mínimo">
			</div>
			<div>
				<p>Máximo</p>
				<input type="text" placeholder="Máximo">
			</div>
		</div>
		<div>
			<button>Aplicar</button>
		</div>
	</div>
	<div class="linea"></div>
	<div>
		<h2>Categorías</h2>
		<p>Niños</p>
		<p>Sala de hogar</p>
		<p>Moderno</p>
		<p>Divertido</p>
		<p>Motivación</p>
	</div>
	<div class="linea"></div>
	<div>
		<h2>Calificación</h2>
		<p>1 estrella</p>
		<p>2 estrellas</p>
		<p>3 estrellas</p>
		<p>4 estrellas</p>
		<p>5 estrellas</p>
		<p>Sin calificación</p>
	</div>
</div>
