<h1 class="titulo">Resumen de compra</h1>

<ng-container *ngIf="fotos">
    <div class="direccion">
        <ng-icon name="heroMapPin"></ng-icon>
        <div class="dir">
            <h2>{{direccionString}}</h2>
            <p>{{direccion.barrio}}, Bogotá D.C.</p>
            <p>{{direccion.nombresApellidos}}</p>
        </div>
        <div class="editarDireccion">
            <ng-icon name="matEdit"></ng-icon>
            <p (click)="cambiarUbicacion()">Cambiar</p>
        </div>
    </div>
    <div class="producto" *ngFor="let producto of productos; let index = index">
        <div class="contenidoImg">
            <img *ngIf="fotos[index] !== ''" [src]="fotos[index]">
        </div>
        <div>
            <p>{{producto.nombre}}</p>
            <div *ngIf="producto.descuento">
                <p>$ {{ producto.precio | number:'1.0-0'}}</p>
                <p>- {{ producto.porcentajeDescuento}}% OFF</p>
            </div>
            <p *ngIf="producto.descuento">$ {{ producto.precio! - (producto.precio! * (producto.porcentajeDescuento! / 100)) | number:'1.0-0' }}</p>
            <p class="precio" *ngIf="!producto.descuento">$ {{ producto.precio | number:'1.0-0'}}</p>
            <p *ngIf="producto.envioGratis" class="envioGratis">Envío gratis</p>
            <p *ngIf="!producto.envioGratis" class="envioPrecio"><span>Recíbelo</span> por <span>$ {{producto.precioEnvio | number: '1.0-0'}}</span></p>
        </div>
        <p>{{producto.estilos![indexEstilos[index]].unidades}} disponibles</p>
        <div>
            <button (click)="cambiarUnidad('-', index, producto.estilos![indexEstilos[index]].unidades)">-</button><p>{{unidades[index]}}</p><button (click)="cambiarUnidad('+', index, producto.estilos![indexEstilos[index]].unidades)">+</button>
        </div>
    </div>
</ng-container>