<div (click)="navegar(['prod/' + producto.id])" class="contenedor">
    <img src="{{producto.detalles?.fotos![0][0]}}">
    <div>
        <p>{{producto.nombre}}</p>
        <div *ngIf="producto.descuento">
            <p>$ {{ producto.precio | number:'1.0-0'}}</p>
            <p>- {{ producto.porcentajeDescuento}}% OFF</p>
        </div>
        <p *ngIf="producto.descuento">$ {{ producto.precio! - (producto.precio! * (producto.porcentajeDescuento! / 100)) | number:'1.0-0' }}</p>
        <p class="precio" *ngIf="!producto.descuento">$ {{ producto.precio | number:'1.0-0'}}</p>
        <p *ngIf="producto.descuento">Envío gratis</p>
    </div>
    <div>
        <img src="assets/img/logo/iconos/Share.svg">
        <img src="assets/img/logo/iconos/Share-full.svg">
    </div>
</div>