<div class="medios-pago">
    <img src="assets/img/pago/stripe.webp">
    <h2>Medios de pago</h2>
    <a href="https://stripe.com/es" target="_blank">Saber más</a>
    <div class="contenido-informacion">
        <p>Stripe es un servicio de pago en línea seguro y confiable. Al usarlo, garantizamos transacciones seguras y eficientes. Puedes comprar con confianza, sabiendo que tu información financiera estará protegida.</p>
        <section>
            <div><img class="img-big" src="assets/img/pago/visa.png"></div>
            <div><img src="assets/img/pago/mastercard.png"></div>
            <div><img src="assets/img/pago/american.png"></div>
            <div><img class="discover" src="assets/img/pago/discover.jpeg"></div>
        </section>
    </div>
</div>