<div class="contenedor">
    <h2>Seguridad</h2>
    <div>
        <div (click)="editarContenido('contrasena')">
            <img src="assets/img/logo/iconos/password-check.svg">
            <h3>Cambiar contraseña</h3>
            <p>Mantén tu contraseña segura</p>
        </div>
        <div (click)="editarContenido('telefono')">
            <img src="assets/img/logo/iconos/phone-change.svg">
            <h3>Cambiar teléfono</h3>
            <p>Cambiar el destino de los SMS</p>
        </div>
    </div>
</div>
