<div class="contenedor">
    <div>
        <div class="cuadroImg">
            <img *ngIf="foto" [src]="foto" (click)="navegar(['prod/' + productoCarrito.id])">
        </div>
        <div>
            <p>{{productoCarrito.nombre}}</p>
            <p>Estilo: {{estiloString}}</p>
            <p *ngIf="productoCarrito.envioGratis" class="envioGratis">Envio gratis</p>
            <p *ngIf="!productoCarrito.envioGratis" class="envioPrecio"><span>Recíbelo</span> por <span>$ {{productoCarrito.precioEnvio | number: '1.0-0'}}</span></p>
        </div>
        <div>
            <p (click)="eliminarCarrito()">Eliminar</p>
            <p (click)="navegar([userUsuario + '/perfil/productos'])">Más productos del vendedor</p>
            <p (click)="agregarGuardado()">Guardar para después</p>
        </div>
    </div>
    <div>
        <ng-container *ngIf="productoCarrito.descuento">
            <p>$ {{productoCarrito.precio! - (productoCarrito.precio! * (productoCarrito.porcentajeDescuento! / 100)) | number: '1.0-0'}}</p>
            <div>
                <p>$ {{productoCarrito.precio | number: '1.0-0'}}</p><p>- {{productoCarrito.porcentajeDescuento}}%</p>
            </div>
        </ng-container>
        <ng-container *ngIf="!productoCarrito.descuento">
            <p>$ {{productoCarrito.precio | number: '1.0-0'}}</p>
            <p></p>
        </ng-container>
        <p>{{productoCarrito.estilos![indexEstilo].unidades}} disponibles</p>
        <div>
            <button (click)="cambiarUnidad('-', indice, productoCarrito.estilos![indexEstilo].unidades)">-</button><p>{{unidad}}</p><button (click)="cambiarUnidad('+', indice, productoCarrito.estilos![indexEstilo].unidades)">+</button>
        </div>
    </div>
</div>