<div class="body">
    <app-barra-menu></app-barra-menu>
    <div class="contenido">
        <h1>Terminos y condiciones</h1>
        <div>
            <h4>Versión vigente: 8 de agosto, 2022</h4>
            <h3>Resumen de términos y condiciones</h3>
            <p>Joum es una compañía de tecnología que ofrece servicios vinculados principalmente al comercio electrónico y a los pagos digitales.</p>
            <ul>
                <li>El Marketplace es una plataforma de comercio electrónico donde las Personas Usuarias pueden vender y comprar productos usando distintas soluciones de pago y envío. </li>
                <li>En Marketplace VIS, conectamos a las personas interesadas en realizar transacciones con vehículos, inmuebles y servicios con posibles vendedores.</li>
                <li>Mercado Pago es una plataforma de pagos y cobros que puede ser usada tanto para operaciones realizadas dentro del Marketplace como fuera de él.</li>
                <li>Mercado Envíos es la herramienta tecnológica que ofrecemos para que las Personas Usuarias puedan enviar y recibir sus compras hechas en sitios o aplicaciones que utilicen la tecnología de Mercado Libre.</li>
                <li>También ofrecemos otros servicios como Mercado Shops, Mercado Ads, Mercado Créditos, entre muchos otros, todos con el mismo fin: democratizar el comercio y los servicios financieros en la región. </li>
            </ul>
            <p>Para poder operar en la plataforma todas las Personas Usuarias deberán aceptar los Términos y Condiciones, los anexos y la Declaración de Privacidad.</p>
            <p>Cada Persona Usuaria es responsable de los datos personales que brinda al momento de registrarse y se obliga a mantenerlos actualizados. Además, es el único responsable del uso y resguardo de su contraseña. </p>
            <p>En algunos casos, podremos cobrar una tarifa por el uso de los servicios que integran el ecosistema de Mercado Libre, que la Persona Usuaria se compromete a pagar.</p>
            <h1>1- Joum</h1>
            <p>Joum es una compañía de tecnología que ofrece servicios vinculados principalmente al comercio electrónico y a los pagos digitales. </p>
            <p>Los servicios que ofrece Joum en los sitios www.mercadolibre.com.co y www.mercadopago.com.co y sus aplicaciones móviles (de ahora en más:“Sitio”) están diseñados para formar un ecosistema que permita a las personas vender, comprar, pagar, enviar productos y realizar otras actividades comerciales con tecnología aplicada (de ahora en más:“Ecosistema MELI”).</p>}
            <h1>2- Términos y Condiciones</h1>
            <p>Estos términos y condiciones y los anexos que explican los servicios del Ecosistema MELI (de ahora en más: “Términos y Condiciones”) regulan la relación entre Mercado Libre y las  personas que usan sus servicios (“Personas Usuarias”). </p>
            <p>Las Personas Usuarias aceptan estos Términos y Condiciones desde el momento en que se registran en el Sitio y usan el Ecosistema MELI.</p>
            <p>Cuando debamos hacer cambios importantes en nuestros servicios, publicaremos las modificaciones con 10 días corridos de anticipación para que las Personas Usuarias puedan revisarlas y seguir usando el Ecosistema MELI. En ningún caso afectarán las operaciones que ya hayan finalizado.</p>
            <p>Las Personas Usuarias que no tengan obligaciones pendientes con Joum o con otras Personas Usuarias, podrán finalizar la relación con Mercado Libre cancelando su cuenta.</p>
        </div>
    </div>
    <app-footer></app-footer>
</div>