<div class="contenidoPersona">
    <div style="display: flex;">
        <div>
            <img (click)="navegar([usuario.usuario + '/perfil/informacion'],$event)" class="img1" src="assets/img/usuarios/user.svg" alt="">
        </div>
        <div class="seccion2">
            <h2>{{usuario.usuario}}<span class="numSeguidores">• {{usuario.seguidores}} <span class="seguidores">Seguidores</span></span></h2>
            <div class="seccion3">
                <div class="ventas">
                    <p *ngIf="usuario.ventas">{{usuario.ventas.length}}</p>
                    <p *ngIf="!usuario.ventas">0</p>
                    <p>Ventas</p>
                </div>
                <div class="atencion">
                    <ng-icon name="heroChatBubbleLeft"></ng-icon>
                    <p>Atención</p>
                </div>
                <div class="atencion">
                    <ng-icon name="heroTruck"></ng-icon>
                    <p>Entrega de productos</p>
                </div>
            </div>
        </div>
        <ng-icon (click)="navegar([usuario.usuario + '/perfil/informacion'],$event)" class="ver-perfil" name="matPlagiarism"></ng-icon>
    </div>
</div>
