<div class="contenidoPersona">
    <div style="display: flex;">
        <div>
            <img (click)="navegar(['MOTTAANDRES20221130093921/perfil/informacion'],$event)" class="img1" src="assets/img/usuarios/user.svg" alt="">
        </div>
        <div class="seccion2">
            <h2>Andres Yesid<span class="numSeguidores">• 102 <span class="seguidores">Seguidores</span></span></h2>
            <div class="seccion3">
                <div class="ventas">
                    <p>27</p>
                    <p>Ventas</p>
                </div>
                <div class="atencion">
                    <ng-icon name="heroChatBubbleLeft"></ng-icon>
                    <p>Atención</p>
                </div>
                <div class="atencion">
                    <ng-icon name="heroTruck"></ng-icon>
                    <p>Entrega de productos</p>
                </div>
            </div>
        </div>
        <ng-icon (click)="navegar(['MOTTAANDRES20221130093921/perfil/informacion'],$event)" class="ver-perfil" name="matPlagiarism"></ng-icon>
    </div>
</div>
