<div class="content">
    <h2>Editar usuario</h2>
    <label for="email">Nombre de usuario</label>
    <input type="text" id="email" [(ngModel)]="usuario" (click)="error = ''" [ngClass]="{'errorInput': error !== ''}" (input)="toUpper($event)" (keydown)="lenghtPermitidos($event)" maxlength="20">
    <p class="error" *ngIf="error !== ''">{{error}}</p>
    <div>
        <button [disabled]="cargando" (click)="submit()" [ngClass]="{'cargando': cargando, 'success': actualizacionExitosa}">
            <span *ngIf="!cargando">Editar</span> 
            <span class="loading" *ngIf="cargando && !actualizacionExitosa"></span>
            <ng-icon name="matCheck" *ngIf="actualizacionExitosa"></ng-icon>
        </button>
        <button (click)="cerrarContenido()">Cancelar</button>
    </div>
    <ng-icon name="ionClose" (click)="cerrarContenido()"></ng-icon>
</div>
