<div class="contenido">
    <div class="graficaCircular">
        <div *ngIf="!sinProductos" class="color sombra" [style.background]="'conic-gradient(#82bef5 0 ' + productosPorcentaje + '%, #4f7fc8 ' + productosPorcentaje + '% '+ productosEnCaminoPorcentaje +'%)'"></div>
        <div *ngIf="sinProductos" class="color"></div>
        <div>
            <p>{{stockTotal}}</p>
            <p>Productos</p>
        </div>
        <div>
            <p>{{productos}} | Disponibles</p>
            <p>{{productosEnCamino}} | En envío</p>
        </div>
        <p class="subTituloCircular">Stock</p>
        <p class="hoyCircular">A día de hoy</p>
    </div>
</div>