<div class="content">
    <h1>Opiniones</h1>
    <section *ngIf="!datosCargados" class="cargando"><app-cargando></app-cargando></section>
    <ng-container *ngIf="datosCargados">
        <div class="encabezado">
            <div>
                <select id="">
                    <option value="">Todas</option>
                    <option value="">Pendientes</option>
                    <option value="">Realizadas</option>
                </select>
            </div>
            <p *ngIf="opiniones">0 / {{opiniones.length}} opiniones</p>
            <p *ngIf="!opiniones">0 opiniones</p>
        </div>
        <app-opinion [opinion]="opinion" *ngFor="let opinion of opiniones;let i = index"></app-opinion>
        
        <div class="sinOpiniones" *ngIf="!opiniones">
            <img src="assets/img/logo/iconos/opinions-empty.svg">
            <p>No tienes opiniones realizadas</p>
            <a>Comprar ahora</a>
        </div>
    </ng-container>
</div>