h1{
    margin:0;
    color: #6c6c6c;
    font-weight:550;
    font-size: 24px;
    letter-spacing: .5x;
    word-spacing: 2px;
}
.encabezado{
    position: relative;
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    div{
        select{
            padding: 5px;
            text-align: center;
            border-radius: 8px;
            border: 1px solid #ccc;
            color: #444;
            cursor: pointer;
            &:focus{
                outline: none;
            }
        }

    }
    p{
        margin: 0;
        padding-top: 10px;
        color: #777;
        font-weight: 500;
        font-size: 15px;
    }
}
