.todo {
  margin-top: 25px;
  width: 100%;

  /*--- SECCION DERECHA ---*/
  .mainPerfilMenu {
    display: flex;
    width: 100%;
    box-shadow: 0 -0.2px 2.6px rgba(0,0,0,0.18), 0 3.1px 2.3px rgba(0,0,0,0.05);
    border-radius: 8px;
    background: #fff;
    overflow: hidden;
    position: relative;
	  margin-bottom: 20px;
    height: 130px;

    .circulo{
      width: 300px;
      height: 240px;
      background-color: #e2dedb;
      border-radius: 50%;
      position: absolute;
      top: -165px;
      left: -130px;
    }
    .picPerfil {
      margin: 20px 35px 20px 50px;
      object-fit: cover;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      z-index: 10;
    }
    .nombre {
      font-size: 23px;
      font-weight: 490;
      word-spacing: 2px;
      color: #505050;
      width: 800px;
      height: 40px;
      margin-bottom: 0;
      letter-spacing: .5px;
      >span{
        margin-top: 0;
        font-size: 14px;
        color: #666;
        font-weight: 500;
        letter-spacing: .4px;
        padding-left: 10px;

        span {
          color: #707070;
          font-weight: 430;
          padding-left: 5px;
          font-size: 13.5px;
          letter-spacing: .4px;
        }
      }
    }
    .seguidores{
      margin-top: 0;
      font-size: 14px;
      color: #666;
      font-weight: 500;
      letter-spacing: .4px;
      span {
        color: #707070;
        font-weight: 430;
        padding-left: 5px;
        font-size: 13.5px;
        letter-spacing: .4px;
      }
    }
    .dias-vendiendo {
      margin-top: 5px;
      font-size: 14.5px;
      color: #707070;
      font-weight: 450;
      letter-spacing: .4px;
    }
    div:nth-child(4){
      margin: 15px;
      position: absolute;
      right: 35px;
      img:nth-child(1){
          position: absolute;
          top: 0;
          left: 0;
          width: 31px;
          height: 31px;
      }
      img:nth-child(2){
          position: absolute;
          top: 0;
          left: 0;
          width: 31px;
          height: 31px;
          opacity: 0;
          transition: .2s;
          cursor: pointer;
          &:hover{
              opacity: 1;
          }
      }
      
    }
    div:nth-child(5){
      position: absolute;
      bottom: 40px;
      right: 55px;
      img:nth-child(1){
          position: absolute;
          top: 0;
          left: 0;
          height: 31px;
      }
      img:nth-child(2){
          position: absolute;
          top: 0;
          left: 0;
          height: 31px;
          opacity: 0;
          transition: .2s;
          cursor: pointer;
          &:hover{
              opacity: 1;
          }
      }
      img:nth-child(3){
        position: absolute;
        top: 0;
        left: 0;
        height: 31px;
        transition: .2s;
        cursor: pointer;
    }
      
    }

  }

  .contenidoSeguir {
    margin-top: 35px;
    right: 13%;
    position: absolute;

    &:hover {
      background: #5694ff;
    }
  }

  /* -------- CONTENIDO PERFIL --------------*/
  .contenidoPerfil {
    margin-top: 4px;
    display: flex;
    width: 100%;
    border-radius: 8px;
    background: white;
    overflow: hidden;
    position: relative;
    height: 38px;
    box-shadow: 0 -0.1px 2.6px rgba(0,0,0,0.17), 0 3.1px 2.3px rgba(0,0,0,0.05);

    .opcionContenido {
      position: relative;
      background-color: rgb(248, 248, 248);
      height: 40px;
      flex-grow: 1;
      cursor: pointer;
      border-right: 1px solid #ddd;
      flex-grow: 1;
      transition: .2s;
      display: flex;
      justify-content: center;

      &:hover {
        p {
          color: #4a4a4a;
        }
      }
      ng-icon{
        margin: 10px 12px;
        font-size: 17px;
        color: #aaa;
      }

      p {
        margin-top: 10px;
        color: #888;
        font-size: 15px;
        letter-spacing: 1px;
        font-weight: 480;
        text-align: center;
        position: relative;
      }
    }

    .selected {
      z-index: 1;
      background-color: #fff;
      ng-icon{
        color: #fbac73;
        font-size: 18px;
      }
      p {
        margin-top: 9px;
        transition: .2s;
        color: #555;
        font-weight: 500;
        font-size: 16px;
        transition: .1s;
        transform: translateY(1px);
      }
    }
  }
}