<div class="contenedor">
    <h2>Privacidad</h2>
    <div>
        <div (click)="editarContenido('permisos-privacidad')">
            <img src="assets/img/logo/iconos/privacy-settings.svg">
            <h3>Permisos de privacidad</h3>
            <p>Administrar permisos</p>
        </div>
        <div (click)="editarContenido('cuenta')">
            <img src="assets/img/logo/iconos/user-delete.svg">
            <h3>Eliminar cuenta</h3>
            <p>Proceso para eliminar tu cuenta</p>
        </div>
    </div>
</div>
