<div class="contenedor">
    <h2>Privacidad</h2>
    <div>
        <div>
            <h4>Ajustes de notificaciones</h4>
        </div>
        <button>
            <div class="rectangle clicked" >
                <div class="circle"></div>
            </div>
        </button>
    </div>
    <div>
        <div>
            <h4>Te enviaron un mensaje sobre un producto</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis sapiente quia corporis.</p>
        </div>
        <button>
            <div class="rectangle clicked">
                <div class="circle"></div>
            </div>
        </button>
    </div>
</div>
