<form [formGroup]='form' (submit)='irPaso5($event)' id="form_session4" class="paso4">

    <h1 id="tituloPaso4">Datos de tu producto</h1>
    <p>Recuerda que es posible no poner algunos valores, pero entre más información le des a los clientes acerca de tu producto es más problable que las personas puedan verlo en la tienda.</p>

    <div class="inputs" id="inputs">
        <div>
        	<div class="input" id="cuadros" *ngFor="let cuadro of categoria[0]; index as i;">
            	<input formControlName='{{ formControls[i] }}' type="text" class="field" id="Fabricante" placeholder="{{cuadro}}" name="nombrecliente"> <br>
        	</div>
        </div>
    </div>


    <div class="linea"></div>

    <div class="center-content">
        <input (click)='irPaso3()' type="button" class="btn3" value="Anterior" name="boton" id="btn-anterior3">
        <input
          type="submit"
          [ngClass]="{'btn3': form.invalid, 'btn3active': form.valid}"
          value="Siguiente"
          name="boton"
          [disabled]='form.invalid'
          id="btn-Siguiente4">
    </div>

</form>
