<div class="header4">
    <nav [@menu4]='state' class="menu4">
      <button [@menu4]='state' (click)='animarMenu()' class="botonX" id="button-X"><ng-icon class="icon-times-outline" name="aspectsStatusErrorFilled"></ng-icon></button>
      <ul [@menu4]='state' [@submenuULprincipal]='submenuState[0]' class="ULprincipal">
        <!--
        <li *ngIf="cliente.idCliente !== ''" class="title-menu">
              <i class="fa fa-user-circle icono-menu" aria-hidden="true"></i>
              Hola {{ arrayNombre[0] }} {{ arrayApellido[0] }}
        </li>
        -->
        <li class="title-menu"><ng-icon class="menu-icon icono-titulo" name="heroUserCircleSolid"></ng-icon> ¡Bienvenido!</li>

        <li class="item-submenu" menu="1">
            <a (click)='animarSubmenu(1)'><ng-icon class="menu-icon" name="heroUserCircleSolid"></ng-icon>Tu cuenta<ng-icon class="icono-next" name="heroChevronRightMini"></ng-icon></a>
            <ul [@submenu]='submenuState[1]' class="submenu">
              <li class="title-menu"><ng-icon class="menu-icon subTitulo" name="heroUserCircleSolid"></ng-icon>Tu cuenta</li>
              <li (click)='animarSubmenu(1)' class="goBack"><ng-icon class="menu-icon" name="heroArrowSmallLeftMini"></ng-icon>atras</li>
              <li><a (click)="navegar(['abcd/perfil/informacion'],$event)" class="miPerfilURL"><ng-icon class="menu-icon" name="aspectsContactCard"></ng-icon>Perfil</a></li>
              <div class="linea-Menu"></div>
              <li><a (click)="navegar(['abcd/compras'],$event)"><ng-icon class="menu-icon" name="heroShoppingCart"></ng-icon>Compras</a></li>
              <li><a (click)="navegar(['abcd/favoritos'],$event)"><ng-icon class="menu-icon" name="heroStar"></ng-icon>Favoritos</a></li>
              <li><a (click)="navegar(['abcd/opiniones'],$event)"><ng-icon class="menu-icon" name="heroDocumentCheck"></ng-icon>Opiniones</a></li>
              <li><a (click)="navegar(['abcd/preguntas'],$event)"><ng-icon class="menu-icon" name="heroChatBubbleBottomCenterText"></ng-icon>Preguntas</a></li>
              <div class="linea-Menu"></div>
              <li><a (click)="navegar(['vender'],$event)"><ng-icon class="menu-icon" name="heroBanknotes"></ng-icon>Vender</a></li>
              <li><a (click)="navegar(['abcd/resumen'],$event)"><ng-icon class="menu-icon" name="heroRectangleGroup"></ng-icon>Resumen</a></li>
              <li><a (click)="navegar(['abcd/novedades'],$event)"><ng-icon class="menu-icon" name="heroBell"></ng-icon>Novedades</a></li>
              <li><a (click)="navegar(['abcd/publicaciones'],$event)"><ng-icon class="menu-icon" name="heroBuildingStorefront"></ng-icon>Publicaciones</a></li>
              <li><a (click)="navegar(['abcd/ventas'],$event)"><ng-icon class="menu-icon" name="heroCurrencyDollar"></ng-icon>Ventas</a></li>
              <div class="linea-Menu"></div>
              <li><a (click)="navegar(['abcd/facturacion'],$event)"><ng-icon class="menu-icon" name="heroDocumentText"></ng-icon>Facturación</a></li>
              <div class="linea-Menu"></div>
              <li><a (click)="navegar(['abcd/perfil/editar-datos'],$event)"><ng-icon class="menu-icon" name="heroFingerPrint"></ng-icon>Seguridad</a></li>
              <div class="linea-Menu"></div>
              <li  class="cerrarSesion">
                <a (click)="navegar([''],$event)"><ng-icon class="menu-icon" name="heroArrowRightOnRectangle"></ng-icon>Salir</a>
              </li>

            </ul>
        </li>
        <li class="item-submenu" menu="2">
            <a (click)='animarSubmenu(2)'><ng-icon class="menu-icon" name="heroSquares2x2Solid"></ng-icon>Categorías<ng-icon style="margin-left: 125px;" class="icono-next" name="heroChevronRightMini"></ng-icon></a>
            <ul [@submenu]='submenuState[2]' class="submenu">
              <li class="title-menu"><ng-icon class="menu-icon subTituloDos" name="heroSquares2x2Solid"></ng-icon>Categorías</li>
              <li (click)='animarSubmenu(2)' class="goBack"><ng-icon class="menu-icon" name="heroArrowSmallLeftMini"></ng-icon>Atras</li>
              <li><a (click)="navegar(['busqueda/solo-hoy'],$event)"><ng-icon class="menu-icon" name="heroCalendarDays"></ng-icon>Solo hoy</a></li>
              <li><a (click)="navegar(['abcd/favoritos'],$event)"><ng-icon class="menu-icon" name="heroStar"></ng-icon>Favoritos</a></li>
              <li><a (click)="navegar(['busqueda/vinilos'],$event)"><ng-icon class="menu-icon" name="heroCheckCircle"></ng-icon>vinilos</a></li>
              <li><a (click)="navegar(['busqueda/adornos-pequeños'],$event)"><ng-icon class="menu-icon" name="heroCheckCircle"></ng-icon>Difusores</a></li>
              <li><a (click)="navegar(['busqueda/adornos-pequeños'],$event)"><ng-icon class="menu-icon" name="heroCheckCircle"></ng-icon>Adornos Pequeños</a></li>
              <li><a (click)="navegar(['busqueda/adornos de pared'],$event)"><ng-icon class="menu-icon" name="heroCheckCircle"></ng-icon>Adornos de Pared</a></li>
              <li><a (click)="navegar(['busqueda/macetas'],$event)"><ng-icon class="menu-icon" name="heroCheckCircle"></ng-icon>Macetas</a></li>
              <li><a (click)="navegar(['busqueda/relojes'],$event)"><ng-icon class="menu-icon" name="heroCheckCircle"></ng-icon>Relojes</a></li>
              <li><a (click)="navegar(['busqueda/lamprasas'],$event)"><ng-icon class="menu-icon" name="heroCheckCircle"></ng-icon>Lamparas</a></li>
              <li><a (click)="navegar(['busqueda/estantes'],$event)"><ng-icon class="menu-icon" name="heroCheckCircle"></ng-icon>Estantes</a></li>
              <li style="margin-bottom: 40px;"><a (click)="navegar(['busqeuda/estantes'],$event)"><ng-icon class="menu-icon" name="heroCheckCircle"></ng-icon>Cuadros</a></li>
            </ul>
          </li>
          <li><a (click)="navegar([''],$event)"><ng-icon class="menu-icon" name="heroShoppingCart"></ng-icon>Carrito</a></li>
          <li><a (click)="navegar([''],$event)"><ng-icon class="menu-icon" name="aspectsDeliver"></ng-icon>Pedidos</a></li>
          <li><a (click)="navegar([''],$event)"><ng-icon class="menu-icon" name="heroNewspaper"></ng-icon>Historial</a></li>
          <li><a (click)="navegar(['vender'],$event)"><ng-icon class="menu-icon" name="heroBanknotes"></ng-icon>Vender</a></li>
          <li><a (click)="navegar([''],$event)"><ng-icon class="menu-icon" name="heroCheckBadge"></ng-icon>Garantía joum</a></li>
          <li><a (click)="navegar([''],$event)"><ng-icon class="menu-icon" name="heroArrowUturnLeft"></ng-icon>Devoluciones gratis</a></li>
          <div class="linea-Menu"></div>
          <li><a (click)="navegar([''],$event)"><ng-icon class="menu-icon" name="heroUsers"></ng-icon>Contigo siempre</a></li>
          <li><a (click)="navegar([''],$event)"><ng-icon class="menu-icon" name="heroQuestionMarkCircle"></ng-icon>Ayuda</a></li>
          <div class="linea-Menu"></div>
          <div class="botones">
            <button (click)="navegar(['cuenta/iniciar-sesion'],$event)" class="iniciar li">Iniciar Sesion</button>
            <button (click)="navegar(['cuenta/crear-cuenta'],$event)" class="crear li">crear cuenta</button>
          </div>
          <div style="margin:30px;"></div>
      </ul>
    </nav>
  </div>
  <nav [@menu4-gray]='state' (click)='animarMenu()' id="menu4-gray"></nav>