<div class="reputacion">
    <div>
        <h1>27</h1>
        <p>Ventas realizadas</p>
    </div>
    <div>
        <img src="../../../../../../../assets/img/logo/iconos/Mensajes-check.svg">
        <p>Brinda buena atención</p>
    </div>
    <div>
        <img src="../../../../../../../assets/img/logo/iconos/Envios-check.svg">
        <p>Su entrega de productos es impecable</p>
    </div>
</div>
<div class="opiniones">
    <div>
        <h1>0</h1>
        <p>Opiniones</p>
    </div>
    <div>
        <div>
            <div></div><p>Buena</p>
        </div>
        <div>
            <div></div><p>Regular</p>
        </div>
        <div>
            <div></div><p>Mala</p>
        </div>
    </div>
</div>