.reputacion{
	margin-top: 20px;
	position: relative;
	width: 100%;
	height: 140px;
	border: 1px solid #ddd;
	border-radius: 10px;
	background: white;
	display: grid;
	grid-template-columns: 1fr 1.5fr 1.6fr;
	> div{
		height: 80%;
		align-self: center;
		border-left: 1px solid #ddd;
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
		p,h1{
			text-align: center;
		}
		p{
			font-size: 14px;
			font-weight: 420;
			color: #666;
			letter-spacing: .4px;
			word-spacing: 1px;
		}
	}
	> div:nth-child(1){
		border: none;
		h1{
			margin: 0;
			font-weight: 500;
			color: #666;
			letter-spacing: 1px;
		}
	}
	> div:nth-child(2),div:nth-child(3){
		img{
			height: 50px;
		}
	}
}
.opiniones{
	margin-top: 20px;
	position: relative;
	width: 50%;
	height: 150px;
	border: 1px solid #ddd;
	border-radius: 10px;
	background: white;
	display: grid;
	grid-template-columns: 1fr 2fr;
	> div:nth-child(1){
		height: 80%;
		align-self: center;
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
		h1{
			margin: 0;
			font-weight: 550;
			color: #5DA7EA;
			letter-spacing: 1px;
			text-align: center;
		}
		p{
			font-size: 14px;
			font-weight: 420;
			color: #666;
			letter-spacing: .4px;
			word-spacing: 1px;
			text-align: center;
		}
	}
	> div:nth-child(2){
		align-self: center;
		height: 62%;
		>div{
			height: 30px;
			display: flex;
			div{
				width: 65%;
				height: 15px;
				border-radius: 7px;
				background-color: #ddd;
				align-self: center;
			}
			p{
				font-size: 14px;
				font-weight: 420;
				color: #666;
				letter-spacing: .4px;
				word-spacing: 1px;
				text-align: center;
				margin: 10px 15px;
			}
		}
		>div:nth-child(1){
			div{
				background-color: #5DA7EA;
			}
		}
	}
}
