<div class="contenidoInformacion">
    <div class="contenido">
        <div class="descripcionInformacion">
            <h3 class="acercaDe">Descripción</h3>
            <p>Lorem ipsum dolor, sit amet  consectetur adipisicing elit. Ad voluptate, ipsa vero, soluta deleniti natus sed obcaecati quidem placeat, corporis non cumque dolorem sapiente nulla, ea quo dolor inventore excepturi.  Ad voluptate, ipsa vero, soluta deleniti natus sed obcaecati quidem placeat, corporis non cumque dolorem sapiente nulla, ea quo dolor inventore excepturi.  ea quo dolor inventore excepturi.</p>
        </div>
        <div class="contenidoDescrip">
            <div class="descripciónSmall edad">
                <h2>Edad</h2>
                <p>17 años</p>
            </div>
            <div class="descripciónSmall Tiempo">
                <h2>Tiempo en joum</h2>
                <p>4 meses y 9 días</p>
            </div>
            <div class="descripciónSmall telefono">
                <h2>Telefono</h2>
                <p>3008396764</p>
            </div>
            <div class="descripciónSmall gmail">
                <h2>Gmail</h2>
                <p>Andres@gmail.com</p>
            </div>
            <div class="descripciónSmall genero">
                <h2>genero</h2>
                <p>Masculino</p>
            </div>
            <div class="descripciónSmall ciudad">
                <h2>Ciudad</h2>
                <p>Cartagena</p>
            </div>
        </div>
    </div>
    <div class="circuloInformacion"></div>
    <div class="circuloInformacion2"></div>
    <ng-icon class="configuracion" name="heroCog8ToothSolid"></ng-icon>
</div>