<div class="contenidoInformacion">
    <div class="contenido">
        <div class="descripcionInformacion">
            <h3 class="acercaDe">Descripción</h3>
            <p>Lorem ipsum dolor, sit amet  consectetur adipisicing elit. Ad voluptate, ipsa vero, soluta deleniti natus sed obcaecati quidem placeat, corporis non cumque dolorem sapiente nulla, ea quo dolor inventore excepturi.  Ad voluptate, ipsa vero, soluta deleniti natus sed obcaecati quidem placeat, corporis non cumque dolorem sapiente nulla.</p>
        </div>
        <div class="contenidoDescrip">
        
        </div>
    </div>
    <div class="circuloInformacion"></div>
    <div class="circuloInformacion2"></div>
    <ng-icon class="configuracion" name="heroCog8ToothSolid"></ng-icon>
</div>