.body {
	position: relative;
	min-height: 100vh;
	padding-bottom: 430px;
	min-width: 870px;
	overflow: hidden;
	background-color: #fafafa;
}
.contenido{
    width: 1400px;
	margin: auto;
	@media screen and (max-width: 1450px) {
	  width: 90%;
	  margin: auto;
	}
    h1{
        margin:0;
        padding-top: 25px;
        color: #606060;
        font-weight:550;
        font-size: 24px;
        letter-spacing: .5x;
        word-spacing: 2px;
    }
}