<div class="body">
    <app-barra-menu></app-barra-menu>
    <div class="contenido">
        <h1>Ayuda</h1>
        <div class="secciones">
            <div>
                <img src="assets/img/logo/iconos/ayuda-cliente.svg">
                <img src="assets/img/logo/iconos/ayuda-cliente-color.svg" class="color">
                <p>Ayuda como comprador</p>
            </div>
            <div>
                <img src="assets/img/logo/iconos/ayuda-vendedor.svg">
                <img src="assets/img/logo/iconos/ayuda-vendedor-color.svg" class="color">
                <p>Ayuda como vendedor</p>
            </div>
            <div>
                <img src="assets/img/logo/iconos/ayuda-reportar.svg">
                <img src="assets/img/logo/iconos/ayuda-reportar-color.svg" class="color">
                <p>Hacer un reporte</p>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>