.header1{
	width: 100%;
	background: #3f3e3d;
	height: 60px;
	position: fixed;
	z-index: 500;
}

nav{
	height: 100%;
}

.btn-menu{
	width: 80px;
	background: linear-gradient(to right, #494748 0%, #4c4c4b 50%, #494748 100%);
	border: none;
	color: white;
	font-size: 17px;
	margin-top: -9px;
}

.btn-menu .text-menu{
	margin-top: -24px;
	font-size: 15px;
	padding: 0;
}
.btn-menu:hover{
	background: #4d4d4c;
	cursor: pointer;
}

/*--- Iconos barra ---*/
ng-icon.menu-icon{
    margin-top: 3px;
	font-size: 38px;
}
ng-icon.ventas{
	font-size: 23px;
    color: #fff;
    position: absolute;
	top: -2px;
	transform: translateX(-25px);
}
ng-icon.search{
	font-size: 23px;
    color: #fff;
    margin-top: 5px;
}
ng-icon.user{
	font-size: 23px;
    margin-top: -2.5px;
}
ng-icon.cart{
	font-size: 23px;
    margin-top: -2.5px;
}

/*---- Logo ----*/
.logo{
	width: 126px;
	padding: 4px 0 0 25px;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

/*---- Buscador ----*/
.tres{
	margin-right: 20px;
}
.Buscador{
	padding: 0 16px;
	width: 600px;
	height: 35px;
	margin: 11px 0px 10px 40px;
	border: 1px solid #fff;
	border-radius: 4px 0px 0px 4px;
	color: #505050;
	font-size: 16px;
	font-weight: 450;
	letter-spacing: .1px;
	word-spacing: .8px;
}
.Buscador:focus{
	border: 1px solid #FF9E57;
	outline: none;
}
.Buscador::placeholder{
	font-weight: 400;
}
.Buscar{
	width: 54px;
	height: 35px;
	margin: 11px 40px 10px 0;
	background: #FF9E57;
	border: 1px solid #FF9E57;
	border-radius: 0px 4px 4px 0px; 
	font-size: 20px;
	color: white;
	outline: none;
	display: flex;
	justify-content: center;
	cursor: pointer;
	&:hover{
		background-color: #f99b58;
	}
}

/*---- Estilo base contenido del menú ----*/
.menu{
	height: 100%;
}
.menu ul{
	margin: 0;
	list-style: none;
	padding: 0;
	height: 100%;
	height: 100%;
}
.menu li{
	flex-grow:1;
	text-align: center;
}
.menu li a{
	display: block;
	color: #fff;
	margin-top: -7px;
	text-decoration: none;
	text-align: center;
	font-size: 10px;
}
.ContenidoMenu > li:hover{
	background: #4a4a4a;
	
	}
	
	.menu li a{
		display: block;
		color: #fff;
		margin-top: -4px;
		text-decoration: none;
		text-align: center;
		font-size: 16px;
		font-weight: 500;
	}

.ContenidoMenu{
	display: flex;
	max-width: 1400px;
	margin: auto;
	height: 100%;
}

.MenuInvisible{
	width: 100%;
	height: 60px;
}

/*---- Sección derecha menú ----*/
.uno p{
    position: relative;
    margin-top: 16px;
	ng-icon{
		margin-left: 10%;
	}
}
#dos button{
	margin: 10px 6px 0px 6px;
	width: 130px;
	height: 40px;
	border-radius: 5px;
	font-size: 15px;
	cursor: pointer;
	background: #FF9E57;
	color: white;
	border: none;
	transition: .3s;
	padding: 0;
}
#dos button:hover{
	background: white;
	color: #FF9E57;
	border: 1px #FF9E57 solid;
}
.botones a{
	cursor:default;
}
#dos .botones{
	display: flex;
	margin: 10px 12px 10px 12px;
}

#dos ul{
	margin-top: -13px;
	margin-left: -100px;
	position: fixed;
	display: none;
	flex-direction: column;
	height: auto;
	width: 310px;
	padding: 0;
	background: white;
	border-bottom-right-radius: 10px; 
	border-bottom-left-radius: 10px; 
	z-index: 100;
}
#dos:hover ul{
	display: block;

}
#dos li{
	display: flex;
	&:hover{	
		background: rgba(0,0,0,0.05);	
		a{
			color: #000;
		}
	}
}

#dos li a{
	display: block;
	margin-top: 1px;
	padding: 7px 20px;
	font-size: 16px;
	font-weight: 400;
	text-decoration: none;
	color: #666;
	width: 100%;
	text-align: left;
}
#dos li a ng-icon{
	margin: 0px 35px 0px 25px;
	height: 100%;
	font-size: 17px;
}
#dos:hover .menu4-gray2{
	background: rgba(0,0,0,0.3);
	width: 100%;
}
.menu4-gray2:hover{
	display: none;
}
.menu4-gray2{
	position: absolute;
	top: 60px;
	left: 0;
	width: 0%;
	height: 100vh;
	background: rgba(0,0,0,0.0);
	z-index: 10;
	position: fixed;
}
.menu li.tres a span{
	margin-top: 10px;
	font-size: 21px;
}
.menu li.tres a .text-tres{
	margin-top: -20px;
}
#dos a .text-dos{
	margin-top: -20px;
	margin-bottom: 21px;
}
.contentUser{
	display: flex;
}
.contentUser img{
	width: 50px;
	height: 50px;
	object-fit: cover;
	border-radius: 50%;
	margin: 16px 15px 10px 26px;
	cursor: pointer;
}
.contentUser img:hover{
	filter: brightness(90%);
}
.contentUser div{
	margin-top: 10px;
}
.contentUser p{
	width: 185px;
	text-align: left;
	color: #777;
	margin: 9px;
	font-size: 12px;
	cursor: pointer;
	margin-top: 7px;
}
.contentUser p:nth-child(1) {
	color: #555;
	font-size: 18px;
	font-weight: 500;
}
.contentUser p:nth-child(2) {
	word-wrap: break-word;
	letter-spacing: .5px;
	font-weight: 440;
}
.contentUser p:nth-child(1):hover{
	color: #ee8000;
}
.linea-Menu{
    border-bottom: 1px solid #e4e4e4;
    margin:7px 6px;
}

/*-------------------------- MENU 2 -------------------------*/
.header2{
	width: 100%;
	background: linear-gradient(to right, #9a9a99 0%,#858585 10%, #6b6b6b 18%,#656565 50%,#6b6b6b 80%, #858585 90%, #9a9a99 100%);
	background-size: 1840px 100%;
	background-position: center;
	background-repeat: no-repeat;
	height: 30px;
	position: relative;
	z-index: 400;
	min-width: 870px;
	border-top: 1px solid #777;
	@media (max-width: 1400px) {
		background-size: 125% 100%;
	}
	@media (max-width:970px) {
		ul{
			li:nth-child(2){
				display: none;
			}
		}
	}
	.notificaciones{
		position: absolute;
		right: 3.8%;
		top: 5px;
		font-size: 19px;
		color: #fafafa;
		cursor: pointer;
		&:hover{
			color: #fff;
		}
		ng-icon:nth-child(2){
			font-size: 17px;
			transform: translateY(-1px);
			padding-left: 3px;
		}
		&:hover{
			>div{
				display: block;
				animation: contenedorNotificaciones .4s ease;
				height: auto;
			}
		}
		> div{
			display: none;
			position: absolute;
			top: 25px;
			left: -320px;
			width: 400px;
			background-color: #fff;
			border: 1px solid #ddd;
			border-radius: 0 0 10px 10px;
			box-shadow: 2px 0 10px 2px rgba($color: #000000, $alpha: .1);
			overflow: hidden;
			color: #666;
			cursor: default;
			.linea{
				width: 100%;
				border-bottom: 1px solid #e4e4e4;
			}
			h5{
				font-size: 14px;
				font-weight: 450;
				margin: 0;
				padding: 8px 15px;
				color: #606060;
			}

		}
		@keyframes contenedorNotificaciones {
			0%{
				height: 0;
			}
			50%{
				height: 0;
			}
			100%{
				height: auto;
			}
		}
	}
	.menu2{
		position: relative;
		max-width: 1430px;
		margin: auto;
	}
}
.menu2 ul{
	display: flex;
	margin: auto;
	height: 30px;
	width: 100%;
	max-width: 1400px;
}

.menu2 li{
	list-style:none;
}
.menu2 li:nth-child(1){
	margin-left: 6%;
}

.menu2 li p{
	margin-top: 6.5px;
	display: block;
	color: #eaeaea;
	padding: 0;
	margin-right: 28px;
	text-decoration: none;
	text-align: center;
	font-size: 13px;
	font-family: 'font-uno';
	font-weight: 450;
	letter-spacing: .5px;
	cursor: pointer;
	&:hover{
		color: #fff;
	}
}

.header2-color{
	z-index: 399;
	background: #9a9a99;
	position: absolute;
	width: 100%;
	height: 30px;
	top: 60px;
	border-top: 1px solid #777;
}


@media screen and (max-width: 370px){
	.menu4 ul{
	
	width: 100%;
	}
}
@media screen and (min-width: 1450px){
	.tres{
		margin-right: 0;
	}
}
@media screen and (max-width: 1450px){
	#contenidoTotal{
	width: 90%;
	margin: auto;
	}
}
@media screen and (max-width: 1290px){
	.menu li.uno{
		display: none;
	}
	.Buscador{
		width: 550px;
	}
}
@media screen and (max-width: 1180px){

	.menu li.tres a span{
	font-size: 30px;
	padding: 4px 20px;
	}
	.menu li.tres a .text-tres{
		display: none;
	}
	ng-icon.menu-icon{
        margin-top: 5px;
        font-size: 35px;
    }
    ng-icon.user{
        font-size: 30px;
        margin-top: 5px;
        padding:0 20px 9px 20px;
    }
    ng-icon.cart{
        font-size: 30px;
        margin-top: 5px;
        padding:0 20px 9px 20px;
    }
	#dos a .text-dos{
		display: none;
	}
	.btn-menu .text-menu{
		display: none;
	}
	.btn-menu i.fa{
		font-size: 30px;
		margin-top: 5px;
	}
	#dos ul{
		margin-left: -130px;
	}
	.Buscador{
		width: 500px;
	}
}

@media screen and (max-width: 1030px){
	.header3{
		display: none;
	}
	.Buscador{
		width: 440px;
	}
}
@media screen and (max-width: 900px){
	#dos{
	display: none;
	}
}