<div class="header1">
    <nav class="menu">
      <ul>
        <div class="ContenidoMenu">
          <button (click)='menuLateral.animarMenu()' class="btn-menu" id="button-menu">
              <p><ng-icon class="menu-icon" name="heroBars3Solid"></ng-icon>
          </button>
          <a (click)='navegar([""], $event)'><img src="assets/img/logo/logocompleto.svg" alt="" class="logo"></a>
          <input class="Buscador" (keyup.enter)="buscarEnter(busqueda.value)" placeholder='Buscar' type="text" #busqueda [(ngModel)]="ultimoDatoUrl">
          <div (click)="buscar(busqueda.value)" class="Buscar"><ng-icon class="search" name="heroMagnifyingGlassMini"></ng-icon></div>
            
          <li class="uno"><a (click)="navegar([ usuario?.usuario + '/ventas' ], $event)"><p><ng-icon class="ventas" name="heroCurrencyDollarMini"></ng-icon><br>Ventas</p></a></li>

          <li id="dos" class="Interruptor">
            <a><p><ng-icon class="user" name="heroUserCircleSolid"></ng-icon><p class="text-dos">Cuenta</p></a>
            <ul class="User-submenu">
            
              <ng-container *ngIf="!inUser">
                <div class="botones">
                  <a><button (click)="navegar(['cuenta/iniciar-sesion'],$event)" class="iniciar">Iniciar Sesion</button></a>
                  <a><button (click)="navegar(['cuenta/crear-cuenta'], $event)" class="crear">crear cuenta</button></a>
                </div>
              </ng-container>

              <ng-container *ngIf="inUser">
                <div class="contentUser">
                  <img
                  (click)='navegar([usuario?.usuario + "/perfil/informacion"], $event)'
                    id="picUser"
                    src="assets/img/usuarios/user.svg"
                    class="fotoPerfil"
                    alt="Image">
                  <div>
                    <p  (click)='navegar([usuario?.usuario + "/perfil/informacion"], $event)' id="nameUser2"> {{nombre!}} </p>
                    <p (click)='navegar([usuario?.usuario + "/perfil/informacion"], $event)'>@{{usuario?.usuario}}</p>
                  </div>
                </div>
                <div  class="linea-Menu"></div>
                <li >
                  <a (click)='navegar([usuario?.usuario + "/compras"], $event)'>
                    <ng-icon name="heroShoppingCart"></ng-icon> Compras
                  </a>
                </li>
                <li>
                  <a (click)='navegar([usuario?.usuario + "/opiniones"], $event)'>
                    <ng-icon name="heroDocumentCheck"></ng-icon> Opiniones
                  </a>
                </li>

                <div class="linea-Menu"></div>
                <li>
                  <a (click)='navegar(["vender"], $event)'>
                    <ng-icon name="heroBanknotes"></ng-icon> Vender
                  </a>
                </li>
                <li>
                  <a (click)='navegar([usuario?.usuario + "/resumen"], $event)'>
                    <ng-icon name="heroRectangleGroup"></ng-icon> Resumen
                  </a>
                </li>
                <li>
                  <a (click)='navegar([usuario?.usuario + "/novedades"], $event)'>
                    <ng-icon name="heroBell"></ng-icon> Novedades
                  </a>
                </li>
                <li>
                  <a (click)='navegar([usuario?.usuario + "/publicaciones"], $event)'>
                    <ng-icon name="heroBuildingStorefront"></ng-icon> Publicaciones
                  </a>
                </li>

                <div class="linea-Menu"></div>
                <li>
                  <a (click)='navegar([usuario?.usuario + "/facturacion/facturas-reportes"], $event)'>
                    <ng-icon name="heroDocumentText"></ng-icon> Facturacion
                  </a>
                </li>

                <div class="linea-Menu"></div>
                <li class="cerrarSesion">
                    <a (click)='navegar([""], $event); signOut()'>
                      <ng-icon name="heroArrowRightOnRectangle"></ng-icon> Salir
                    </a>
                </li>
                <br>
              </ng-container>
            </ul>
            <nav class="menu4-gray2"></nav>
          </li>
          <li class="tres">
            <a (click)="navegar([usuario?.usuario + '/carrito'],$event)"><p><ng-icon class="cart" name="matShoppingCart"></ng-icon><p class="text-tres">Carrito</p></a>
            <span class="cantidadEnCarrito" *ngIf="productosEnCarrito !== 0"><p>{{productosEnCarrito}}</p></span>
          </li>
        </div>
      </ul>
    </nav>
  </div>
  <nav class="MenuInvisible"></nav>
  
  <!----------------------------------------------MENU 2------------------------------------------->
  <div class="header2">
    <nav class="menu2">
      <ul>
        <li><p (click)="direccionarDirecciones()" >Agrega tu envío</p></li>
        <li><p (click)="navegar(['busqueda/ofertas-del-dia'],$event)">Ofertas del Día</p></li>
        <li><p (click)="navegar([usuario?.usuario + '/historial'],$event)">Historial</p></li>
        <li *ngIf="inUser"><p (click)="navegar([usuario?.usuario + '/compras'],$event)">Mis compras</p></li>
        <li *ngIf="inUser"><p (click)="navegar([usuario?.usuario + '/favoritos'],$event)">Favoritos</p></li>
        <li><p (click)="navegar([usuario?.usuario + '/recomendaciones'],$event)">Para ti</p></li>
        <li><p (click)="navegar(['vender'],$event)">Vender</p></li>
        <li><p (click)="navegar(['ayuda'],$event)">Ayuda</p></li>
        <div *ngIf="usuario && inUser" class="notificaciones" (mouseover)="mouseIn()" (mouseleave)="mouseOut()" (click)="navegar(['notificaciones'],$event)">
          <ng-icon name="ionNotificationsOutline"></ng-icon>
          <ng-icon name="ionChevronDownOutline"></ng-icon>
          <span class="point" *ngIf="nuevaNotificacion"></span>
          <div [ngClass]="{'mostraNotificaciones': height !== '0px'}" [style.height]="height" (click)="$event.stopPropagation()">
            <h5>Notificaciones</h5>
            <div class="linea"></div>
            <app-notificacion-menu [notificacion]="notificacion" [index]="index" 
              *ngFor="let notificacion of notificaciones; let index = index">
            </app-notificacion-menu>
          </div>
        </div>
      </ul>
    </nav>
  </div>
  <div class="header2-color"></div>

<app-menu-lateral ></app-menu-lateral>