<ng-container>
    <div class="venta" *ngFor="let referencia of referencias; let index = index">
        <img [src]="referencia.foto">
        <div>
            <p>{{referencia.tituloProducto}} <span *ngIf="referencia.gramosTamanio !== 'false'">{{referencia.gramosTamanio}}</span></p>
            <p>#{{venta.numVenta}}</p>
            <p>$ {{referencia.precioProducto| number: '1.0-0'}}</p>
        </div>
        <p>Estado: 
            <ng-container *ngIf="!venta.enCamino && !venta.entregado">
                <span>En preparación</span>
            </ng-container>
            <ng-container *ngIf="venta.enCamino && !venta.entregado">
                <span>En camino</span>
            </ng-container>
            <ng-container *ngIf="venta.entregado">
                <span>Entregado</span>
            </ng-container>
        </p>
        <p>{{fecha}}</p>
        <div><p>{{referencia.unidades}} unidades</p> <button (click)="navegar([usuario?.usuario + '/ventas/detalle-venta/'+venta.numVenta], $event)">Ver detalle</button></div>
    </div>
</ng-container>