<div class="venta">
    <img src="{{producto.detalles!.fotos![0][0]}}">
    <div>
        <p>{{producto.nombre}}</p>
        <p>#{{producto.id}}</p>
        <p>$ {{producto.precio | number: '1.0-0'}}</p>
    </div>
    <p>Estado: 
        <ng-container *ngIf="!venta.enCamino && !venta.entregado">
            <span>En preparación</span>
        </ng-container>
        <ng-container *ngIf="venta.enCamino && !venta.entregado">
            <span>En camino</span>
        </ng-container>
        <ng-container *ngIf="venta.entregado">
            <span>Entregado</span>
        </ng-container>
    </p>
    <p>19 de mayo. <span>8:02 hs</span></p>
    <div><p>{{unidad}} unidades</p> <button (click)="navegar([usuario?.usuario + '/ventas/detalle-venta/'+venta.numVenta], $event)">Ver detalle</button></div>
</div>