<div class="content">
    <h2>Seguidores</h2>
    <section>
        <p>La función de seguidores en Joum es una herramienta que mejora tu experiencia como usuario. Te permite conectar con personas afines, recibir notificaciones relevantes, aumentar la visibilidad de vendedores y formar parte de una comunidad en constante crecimiento. ¡Explora esta característica y descubre cómo puede enriquecer tu experiencia en Joum!</p>

        <h3>¿Como seguír a alguien?</h3>
        <ol>
            <li><span>Encuentra una Publicación de tu Interés:</span> Accede a una publicación de un producto que te interese y que sea de tu agrado.</li>
            <li><span>Acede al Perfil del Vendedor:</span> Desplázate hacia la parte inferior de la publicación, donde encontrarás una breve descripción del vendedor. Haz clic en la información del vendedor para acceder a su perfil.</li>
            <li><span>Empezar a seguir:</span> Clickea en el icono de usuario con el signo positivo para confirmar que deseas seguir a este usuario.</li>
        </ol>
        <p>Seguir a otros usuarios te permite estar al tanto de sus últimas publicaciones y mantener una conexión activa con vendedores y tiendas que te interesen</p>

        <h3>Notificaciones Relevantes</h3>
        <p>Cuando sigues a alguien en Joum, recibirás notificaciones sobre las últimas publicaciones y novedades relacionadas con los productos que te interesan. Esto te permite estar al tanto de las ofertas más recientes y no perderte ninguna oportunidad de adquirir el artículo único que estabas buscando.</p>

        <h3>Mayor Visibilidad para Vendedores</h3>
        <p>Para los vendedores en nuestra plataforma, contar con seguidores es fundamental para aumentar la visibilidad de sus productos. Cuantos más seguidores tengan, más personas verán sus publicaciones, lo que se traduce en mayores posibilidades de realizar ventas exitosas. Esta función les permite a los vendedores llegar a una audiencia más amplia y diversa.</p>
    </section>
</div>