<div class="body">
    <app-barra-menu></app-barra-menu>
    <div class="contenidoTotalProducto">
        <div class="encabezado">
            <div class="seccion1">
                <p>Volver al listado</p>
            </div>
            <div class="seccion2" style="display: flex;">
                <p>Compartir</p>
            </div>
        </div>
        <div class="seccioIzquierda">
            <ng-icon class="corazon" name="heroHeart" (click)="agregarFavorito()"></ng-icon>
            <ng-icon class="corazon-full" name="heroHeartSolid" [class.corazon-click] = "corazonClick == true"></ng-icon>

            <ng-icon class="carrito" name="matAddShoppingCart" [class.carrito-click-over] = "carritoClick == true" (click)="agregarCarrito()"></ng-icon>
            <ng-icon class="carrito-full" name="matShoppingCart" [class.carrito-click] = "carritoClick == true"></ng-icon>

            <app-fotos-producto></app-fotos-producto>

            <div class="linea-Menu"></div>
            <h1 class="titulos">Productos similares que te podrían gustar</h1>
            <div class="carrusel">
                <app-carrusel [carousel]='3' [elements]="carouselSimilaress"></app-carrusel>
            </div>
            <br>
            <div class="linea-Menu"></div>
            <br>
            <app-descripcion></app-descripcion>
            <br>
            <div class="linea-Menu"></div>
            <app-datos-vendedor [usuario]="usuario"></app-datos-vendedor>
            <br><br>
            <app-preguntas-respuestas></app-preguntas-respuestas>
            <app-opiniones></app-opiniones>
        
        </div>

        <div class="seccioDerecha">
            <app-datos-producto [usuario]="usuario" [producto]="producto"></app-datos-producto>
            <app-datos-producto-dos></app-datos-producto-dos>
            <app-datos-producto-tres></app-datos-producto-tres>
        </div>
    </div>
    <app-footer></app-footer>
</div>

