.contenidoFotos{
    .sombra{
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index: 600;
        background: rgba(0, 0, 0, 0.57);
        backdrop-filter: blur(5px);
    }
    .cuadro{
        position: fixed;
        width: 80%;
        height: 80vh;
        z-index: 601;
        left: 10%;
        top: 11vh;
        display: flex;
        justify-content: center;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        img{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
    ng-icon{
        position: fixed;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: rgba($color: #fff, $alpha: .5);
        backdrop-filter: blur(5px);
        color: #444;
        font-size: 28px;
        z-index: 602;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: .1s;
        &:hover{
            background: rgba($color: #fff, $alpha: .8)
        }
    }
    ng-icon:nth-child(2){
        top: 50vh;
        left: 5%;
    }
    ng-icon:nth-child(4){
        top: 50vh;
        right: 5%;
    }
    .cantidadFotos{
        position: fixed;
        top: 5vh;
        left: calc(50% - 45px);
        width: 90px;
        height: 30px;
        border-radius: 5px;
        background: rgba($color: #000, $alpha: .6);
        color: #ddd;
        font-size: 16px;
        letter-spacing: 5px;
        z-index: 601;
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }
    .x{
        position: fixed;
        top: 5vh;
        left: calc(100% - 100px);
        width: 32px;
        height: 32px;
        border-radius: 5px;
        background: rgba($color: #000, $alpha: .4);
        color: #ddd;
        font-size: 18px;
        z-index: 601;
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        &:hover{
            background: rgba($color: #000, $alpha: .6);
            color: #eee;
            cursor: pointer;
        }
    }
}
.body{
    position: relative;
	min-height: 100vh;
	padding-bottom: 460px;
    background-color: #f9f9f9;
    min-width:  1210px;
    overflow: hidden;
}
.contenidoTotalProducto{    
    width: 1400px;
    transform: translateY(20px);
    margin:0 auto 50px auto;
    display: flex;
    position: relative;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: auto;
}
.titulos{
    color: #5a5a5a;
    font-size: 22px;
    font-weight: 460;
    margin: 10px 0 23px 25px;
	font-family: 'font-uno';
    letter-spacing: .6px;
    word-spacing: 1.4px;
    padding-left: 5px;
}
.linea-Menu{
    border-bottom: 1px solid #ddd;
    margin:15px 6px 30px 6px;
}
@media (max-width: 1500px){
    .contenidoTotalProducto{
    width: 95%;
    margin: 0 2.5% 50px 2.5%;
    }
}

.encabezado{
    display: flex;
    position: absolute;
    width: 100%;
    height: 36px;
    border-radius: 5px 5px 0 0;
    background-image: linear-gradient(to right, #efefef ,#f0f0f0, #f3f3f3);
}
.encabezado .seccion1{
    position: absolute;
    color: #333;
    font-size: 13px;
    left: 30px;
    margin-top: -4px;
    font-weight: 500;
    cursor: pointer;
    font-family: 'font-uno';
}
.encabezado .seccion2{
    position: absolute;
    color: #3e8bff;
    font-size: 16px;
    right:30px;
    margin-top: -9px;
    font-weight: 500;
}

.encabezado .seccion2 p:nth-child(1){
    cursor: pointer;
    &:hover{
        color: #176ae6;
    }
}

.seccioIzquierda{
    margin: 25px 2% 50px 2%;
    width: 62%;
}
/*--------------------------*/
.seccioIzquierda .corazon{
    border-radius: 50%;
    position: absolute;
    right: 33.8%;
    top: 52px;
    font-size: 32px;
    color: #ffad84;
    cursor: pointer;
    z-index: 5;
    &:hover ~ .corazon-full{
        color: #fff1ea;
    }
}
.corazon-click{
    animation: corazon .4s;
    color: #ffad84 !important;
}
.seccioIzquierda .corazon-full{
    position: absolute;
    right: 33.85%;
    top: 53px;
    font-size: 31px;
    color: #fff;
    z-index: 4;
}

/*---------------*/

.seccioIzquierda .carrito{
    border-radius: 50%;
    position: absolute;
    right: 3.8%;
    top: 75px;
    font-size: 32px;
    color: #b8b8b8;
    cursor: pointer;
    z-index: 5;
    &:hover{
        color: #a4a4a4;
    }
}
.carrito-click{
    animation: carrito .4s;
    color: #84afff !important;
}
.carrito-click-over{
    opacity: 0.01;
}
.seccioIzquierda .carrito-full{
    position: absolute;
    right: 3.85%;
    top: 75px;
    font-size: 31px;
    color: #fff;
    z-index: 4;
}

/*_______________________*/
.seccioDerecha{
    margin: 25px 2% 50px 1%;
    width: 30%;
}

@keyframes corazon {
    0%{
        opacity: 0;
        font-size: 0;
        top: 77px;
        right: 35.1%;
    }
    60%{
        opacity: 100;
        font-size: 37px;
        top: 50px;
        right: 33.6%;
    }
    100%{
        opacity: 100;
        font-size: 31px;
        top: 53px;
        right: 33.85%;
    }
}

@keyframes carrito {
    0%{
        opacity: 0;
        font-size: 0;
        top: 100px;
        right: 5.1%;
    }
    60%{
        opacity: 100;
        font-size: 37px;
        top: 72px;
        right: 3.6%;
    }
    100%{
        opacity: 100;
        font-size: 31px;
        top: 75px;
        right: 3.85%;
    }
}