<div class="contenido">
    <img src="assets/img/logo/iconos/Mensajes-check.svg">
    <div>
        <p>{{fecha}}</p>
        <p *ngIf="movimiento.tipo !== 'pago'">{{movimiento.nombreDestinatario}}</p>
        <p *ngIf="movimiento.tipo === 'pago'">Liberación de dinero</p>
    </div>
    <div>
        <p *ngIf="movimiento.tipo === 'pago'" [ngClass]="{'pago': movimiento.tipo === 'pago'}" >+ $ {{ movimiento.valor | currency: '':'':''}}</p>
        <p *ngIf="movimiento.tipo !== 'pago'" [ngClass]="{'pago': movimiento.tipo === 'pago'}" >- $ {{ movimiento.valor | currency: '':'':''}}</p>
        <p>{{movimiento.tipo}}</p>
    </div>
</div>

