<div class="contenedor">
    <div>
        <p>Agosto 2023</p>
        <button>Descargar</button>
    </div>
    <div>
        <div>
            <p>Impuesto</p>
            <p>Jurisdicción</p>
            <p>Base</p>
            <p>% de retención</p>
            <p>Importe retenido</p>
        </div>
        <div>
            <p>Fuente</p>
            <p>Nacional</p>
            <p>$ 4000.000,00</p>
            <p>1.5%</p>
            <p>6.000,00</p>
        </div>
        <div>
            <p>ICA</p>
            <p>Bogotá</p>
            <p>$ 4000.000,00</p>
            <p>0.41%</p>
            <p>1.656,00</p>
        </div>

    </div>
    <div>
        <p>Total retenido $ 7.650,00</p>
    </div>
</div>