<section class="content">
    <div class="categorias">
        <div (click)="navegar('busqueda/Cuadros')">
            <img src="assets/img/categoria/iconos/cuadros.svg">
            <p>Cuadros</p>
            <div class="over"></div>
        </div>
        <div (click)="navegar('busqueda/Repisas')">
            <img src="assets/img/categoria/iconos/repisas.svg">
            <p>Repisas</p>
            <div class="over"></div>
        </div>
        <div (click)="navegar('busqueda/Iluminación')">
            <img src="assets/img/categoria/iconos/iluminacion.svg">
            <p>Iluminación</p>
            <div class="over"></div>
        </div>
        <div (click)="navegar('busqueda/Macetas')">
            <img src="assets/img/categoria/iconos/macetas.svg">
            <p>Macetas</p>
            <div class="over"></div>
        </div>
        <div (click)="navegar('busqueda/Relojes')">
            <img src="assets/img/categoria/iconos/relojes.svg">
            <p>Relojes</p>
            <div class="over"></div>
        </div>
        <div (click)="navegar('busqueda/Difusores')">
            <img src="assets/img/categoria/iconos/difusores.svg">
            <p>Difusores</p>
            <div class="over"></div>
        </div>
        <div (click)="navegar('busqueda/Adornos')">
            <img src="assets/img/categoria/iconos/adornos.svg">
            <p>Adornos</p>
            <div class="over"></div>
        </div>
    </div>
</section>

<div class="linea"></div>