<div class="content">
    <h2>Seguridad</h2>
    <section>
        <h3>Mantén tu cuenta segura</h3>
        <ol>
            <li><span>Nunca comparta su contraseña o códigos de verificación:</span> La información de acceso a tu cuenta debe ser personal y solo la debes conocer tú. La contraseña y los códigos de seguridad son utilizados para verificaciones en acciones como cambio de información de cuenta.</li>
            <li><span>Configura una contraseña segura: </span> Tener una contraseña segura evitará que cualquier persona pueda entrar a tu cuenta sin tu autorización. Adicional, recomendamos cambiar tu contraseña de manera periódica para mayor seguridad.
                <p>Recomendamos que tu contraseña cumpla con los siguientes requisitos:</p> 
                <ul>
                    <li>Contener mínimamente 8 caracteres</li>
                    <li>Contener una mezcla de números, símbolos (!@#$%^&*), letras mayúsculas y minúsculas</li>
                </ul>
            </li>
            <li><span>Mantén tu información actualizada:</span> Asegúrate de que la información de tu cuenta de Shopee se encuentre actualizada. Ejemplo, número de móvil o dirección de email.</li>
        </ol>
    </section>
    <app-encuesta-utilidad [informacion]="'mis-datos/seguridad'"></app-encuesta-utilidad>
</div>