<div class="body">
    <app-barra-menu></app-barra-menu>
    <div class="contenido">
        <h1>Notificaciones</h1>
        <div class="secciones">
            <div>
                <app-notificacion [notificacion]="notificacion" *ngFor="let notificacion of notificaciones" ></app-notificacion>
            </div>
            <div>
                <div>
                    <p>Ofertas y descuentos</p>
                    <button (click)="configuracionNotificaciones('descuentos')">
                        <div class="rectangle" [ngClass]="{'clicked': descuentos}">
                          <div class="circle"></div>
                        </div>
                    </button>
                </div>
                <div>
                    <p>Nuevas ventas</p>
                    <button (click)="configuracionNotificaciones('ventas')">
                        <div class="rectangle" [ngClass]="{'clicked': ventas}">
                          <div class="circle"></div>
                        </div>
                    </button>
                </div>
                <div>
                    <p>Publicaciones</p>
                    <button (click)="configuracionNotificaciones('publicaciones')">
                        <div class="rectangle" [ngClass]="{'clicked': publicaciones}">
                          <div class="circle"></div>
                        </div>
                    </button>
                </div>
                <div>
                    <p>Sobre mis reclamos</p>
                    <button (click)="configuracionNotificaciones('reclamos')">
                        <div class="rectangle" [ngClass]="{'clicked': reclamos}">
                          <div class="circle"></div>
                        </div>
                    </button>
                </div>
                <div>
                    <p>Nuevos mensajes</p>
                    <button (click)="configuracionNotificaciones('mensajes')">
                        <div class="rectangle" [ngClass]="{'clicked': mensajes}">
                          <div class="circle"></div>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>