h2{
    margin: 0;
    padding: 15px 35px;
    background: #2fdfaa;
    color: white;
    font-size: 21px;
    font-weight: 500;
    letter-spacing: .6px;
}
p{
    margin: 0;
    margin-top: 5px;
    font-size: 16px;
    color: #6d6e6e;
    font-weight: 420;
    letter-spacing: .4px;
    line-height: 23px;
    padding: 10px 35px;
}
img{
    margin-top: 15px;
    margin-left: calc(50% - 80px);
    width: 160px;
}