<h1>Reputación</h1>

<div class="contenedor">
    <div>
        <p>Atención</p>
        <div>
            <div>
                <img src="assets/img/logo/iconos/Mensajes-check.svg">
                <p>Atención al cliente</p>
            </div>
            <div>
                <p>0 reclamos</p>
                <p>Tu atención al cliente es excelente. Continua así!</p>
            </div>
        </div>
    </div>
    <div>
        <p>Entregas</p>
        <div>
            <div>
                <img src="assets/img/logo/iconos/Envios-check.svg">
                <p>Entrega de productos</p>
            </div>
            <div>
                <p>0 reclamos</p>
                <p>Tus entregas has sido excelentes. Continua así!</p>
            </div>
        </div>
    </div>
    <div>
        <p>Como funciona</p>
        <div>
            <p><span>Atención:</span> Ofrece un trato respetuoso a tus clientes y responde a sus dudas con anticipación.</p>
            <p><span>Entregas:</span> Verifica que los productos que publicas yenvías sean los mismos, has los envío con sus protecciones y sin demoras.</p>
            <p><span>Puntaje:</span> Al acomular más puntos, subiras de nivel. Esto hará que tengas más vistas, mejor reputación y confianza de tus clientes. <br><span> Saber más.</span></p>
        </div>
    </div>
    <div>
        <p>Canceladas por tí</p>
        <div>
            <div>
                <img src="assets/img/logo/iconos/Mensajes-check.svg">
                <p>Canelación</p>
            </div>
            <div>
                <p>0 cancelaciones</p>
                <p>Continua así!</p>
            </div>
        </div>
    </div>
    <div>
        <p>Obtén tu reputación</p>
        <div>
            <p>5  ventas</p>
            <p>Pasa poder calcular tu reputación</p>
        </div>
    </div>
    <div>
        <div>
            <p>160</p>
            <p>Puntos</p>
        </div>
    </div>
</div>