.contenido{
    margin-top: 16px;
    height: 260px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    column-gap: 20px;
    > div{
        box-shadow: 0 -0.1px 2.6px rgba(0,0,0,0.18), 0 3.1px 2.3px rgba(0,0,0,0.05);
        border-radius: 8px;
        background: #fff;
    }
    .grafica{
        position: relative;
        padding-left: 3px;
        display: grid;
        grid-template-columns: 1fr 8.2fr;
        grid-template-rows: 4fr 1fr;
        padding-right: 6%;
        > div:nth-child(1){
            margin-top: 55px;
            display: flex;
            justify-content: center;
            padding-top: 10px;
            grid-row: 1/3;
            p{
                padding-top: .8px;
                height: 31px;
                font-size: 11.5px;
                color: #666;
                transform: translateX(75%);
                margin: 0;
            }
        }
        > div:nth-child(2){
            margin-top: 58px;
            padding-top: 15px;
            border-left: 1.5px solid #ccc;
            border-bottom: 1.5px solid #bbb;
            height: 157px;
            div{
                height: 30px;
                width: 100%;
                border-top: 1.5px dashed  #ddd;
            }
        }
        > div:nth-child(3){
            margin-top: 6px;
            height: 20px;
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            padding: 0 10px;
            p{  
                position: relative;
                margin: 0;
                font-size: 10px;
                text-align: center;
                color: #666;
                letter-spacing: .4px;
            }
            
            p span{
                width: 45%;
                position: absolute;
                top: -7.3px;
                left: 27.5%;
                background-color: #9dcbf9;
                border-radius: 5px 5px 0 0;
                &:hover{
                    background-color: #73b9ff;
                }
            }
            p:nth-child(7) span{
                background-color: #7cbdff;
                &:hover{
                    background-color: #63abf4;
                }
            }
        }
        .subTitulo{
            position: absolute;
            top: 5px;
            left: 4.6%;
            font-size: 13px;
            font-weight: 450;
            letter-spacing: .4px;
            color: #4a4a4a;
        }
        .hoy{
            position: absolute;
            top: 5px;
            right: 36px;
            font-size: 12px;
            font-weight: 450;
            letter-spacing: .4px;
            color: #808080;
            span{
                font-size: 13px;
                padding-left: 4px;
                font-weight: 450;
                letter-spacing: .4px;
                color: #7a7a7a;
            }
        }
    }
    .graficaCircular{
        position: relative;
        .sombra{
            box-shadow: 0 0px 3px rgba(0,0,0,0.04) inset !important;
            &::before{
                box-shadow: 0 1px 3px rgba(0,0,0,0.10), 0 3.1px 4px rgba(0,0,0,0.05) !important;
            }
        }
        .color{
            position: relative;
            margin-top: 70px;
            margin-left: 30px;
            width: 160px;
            height: 160px;
            border-radius: 50%;
            background: conic-gradient(#f0f0f0 0 100%);
            box-shadow: 0 0px 2.6px rgba(0,0,0,0.02) inset;
            &::before{
                content: "";
                width: 108px;
                height: 108px;
                position: absolute;
                top: 0;
                left: 0;
                background: #fff content-box;
                border-radius: 50%;
                margin: 26px;
                box-sizing: border-box;
                box-shadow: 0 0px 2.6px rgba(0,0,0,0.03);
            }
        }
        > div:nth-child(2){
            position: absolute;
            top: 70px;
            left: 30px;
            width: 160px;
            height: 160px;
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p{
                margin: 0;
                font-size: 15px;
                font-weight: 500;
                letter-spacing: .4px;
                color: #777;
            }
            p:nth-child(1){
                font-size: 22px;
                margin-top: -5px;
                color: #666;
            }
        }
        > div:nth-child(3){
            position: absolute;
            top: 75px;
            right: 8%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p{  
                position: relative;
                margin: 0;
                font-size: 12px;
                font-weight: 500;
                letter-spacing: .4px;
                color: #555;
                padding-bottom: 30px;
                &::before{
                    content: "";
                    position: absolute;
                    left: -25px;
                    top: 0;
                    width: 15px;
                    height: 15px;
                    border-radius: 3px;
                    background-color: #82bef5;
                }
            }
            p:nth-child(2){
                padding-left: 35px;
                &::before{
                    left: 10px;
                    top: 0;
                    background-color: #4f7fc8;
                }
            }
        }
        .subTituloCircular{
            position: absolute;
            top: 5px;
            left: 30px;
            font-size: 13px;
            font-weight: 450;
            letter-spacing: .4px;
            color: #4a4a4a;
        }
        .hoyCircular{
            position: absolute;
            bottom: 25px;
            right: 9%;
            font-size: 11px;
            font-weight: 450;
            letter-spacing: .6px;
            word-spacing: 2px;
            color: #666;
        }
    }
}

.tooltip {
    pointer-events: none;
    position: absolute;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 1000;
    font-size: 15px;
}

.tooltipMensual {
    pointer-events: none;
    position: absolute;
    width: 170px;
    background-color: #fff;
    box-shadow: 0 0px 2.6px rgba(0,0,0,0.26), 0 2px 2.3px rgba(0,0,0,0.09);
    border-radius: 6px;
    z-index: 1000;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    >div:nth-child(1){
        background-color: #2573ab;
        p{
            color: white;
            font-weight: 500;
        }
    }
    >div:nth-child(1), >div:nth-child(5){
        border-bottom: none;
    }
    >div{
        position: relative;
        width: 100%;
        height: 30px;
        border-bottom: 1px solid #e5e5e5;
        display: flex;
        p{
            color: #505050;
            font-size: 13px;
            font-weight: 420;
            letter-spacing: .4px;
            word-spacing: 1px;
            margin: 0;
            line-height: 30px;
            padding: 0 20px;
        }
        p:nth-child(2){
            position: absolute;
            right: 0;
        }
    }
}
