h1{
    margin:0;
    color: #6a6a6a;
    font-weight: 600;
    font-size: 26px;
}

.encabezado{
    position: relative;
    display: flex;
    margin-top: 30px;
    p{
        margin: 0;
        padding-top: 8px;
        color: #777;
        font-weight: 500;
        font-size: 15px;
    }
    div{
        position: absolute;
        right: 0;
        top: 0;
        input{
            margin-right: 10px;
            padding: 5px 34px 5px 20px;
            border-radius: 8px;
            border: 1px solid #ccc;
            color: #444;
            &:focus{
                outline: none;
            }
        }ng-icon:nth-child(2){
            position: absolute;
            top: 6px;
            left: 192px;
            color: #555;
        }
        ng-icon:nth-child(3){
            position: absolute;
            top: 6px;
            left: 242px;
            color: #555;
            font-size: 18px;
        }
        select{
            padding: 5px;
            padding-left: 36px;
            border-radius: 8px;
            border: 1px solid #ccc;
            color: #444;
            cursor: pointer;
            &:focus{
                outline: none;
            }
        }
    }
}

.contenedor{
    position: relative;
    margin-top: 14px;
    width: 100%;
    height: 180px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: white;
    display: flex;

    > img{
        width: 120px;
        height: 120px;
        margin-top: 30px;
        margin-left: 30px;
        border-radius: 8px;
        object-fit: contain;
        border: 1px solid #ddd;
        padding: 2px;
    }

    > div:nth-child(2){
        margin-top: 15px;
        margin-left: 25px;
        height: 3px;
        h3{
            color: #666;
            font-weight: 500;
            font-size: 15px;
            margin-bottom: 5px;
        }
        p:nth-child(2){
            font-size: 20px;
            font-weight: 500;
            color: #444;
            margin: 0;
            max-width: 420px;
            min-width: 50px;
        }
        :nth-child(3){
            font-size: 16px;
            font-weight: 500;
            color: #1a98f3;
            margin-top: 8px;
        }
    }

    > div:nth-child(3){
        cursor: pointer;
        margin-top: 30px;
        margin-left: 5%;
        div{
            display: flex;
            img{
                width: 20px;
                height: 20px;
                padding: 2px;
            }
            p{
                margin-top: 2px;
                padding-left: 5px;
            }
        }
    }

    > div:nth-child(4){
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 30px;
        top: 30px;
        button:nth-child(1){
            width: 150px;
            margin-bottom: 20px;
            border-radius: 8px;
            border: none;
            background-color: #ffa361;
            color: #fff;
            padding: 5px;
            font-weight: 450;
            cursor: pointer;
        }
        button:nth-child(2){
            border-radius: 8px;
            background: #fff;
            border: 1px solid #FF9E57;
            color: #FF9E57;
            padding: 5px;
            font-weight: 450;
            cursor: pointer;
        }
    }

}