h1{
    margin:0;
    color: #6c6c6c;
    font-weight:550;
    font-size: 24px;
    letter-spacing: .5x;
    word-spacing: 2px;
}

.encabezado{
    position: relative;
    display: flex;
    margin-top: 30px;
    p{
        margin: 0;
        padding-top: 8px;
        color: #777;
        font-weight: 500;
        font-size: 15px;
    }
    div{
        position: absolute;
        right: 0;
        top: 0;
        input{
            margin-right: 10px;
            padding: 5px 34px 5px 20px;
            border-radius: 8px;
            border: 1px solid #ccc;
            color: #444;
            &:focus{
                outline: none;
            }
        }ng-icon:nth-child(2){
            position: absolute;
            top: 6px;
            left: 192px;
            color: #555;
        }
        ng-icon:nth-child(3){
            position: absolute;
            top: 6px;
            left: 242px;
            color: #555;
            font-size: 18px;
        }
        select{
            padding: 5px;
            padding-left: 36px;
            border-radius: 8px;
            border: 1px solid #ccc;
            color: #444;
            cursor: pointer;
            &:focus{
                outline: none;
            }
        }
    }
}