<div class="content">
    <h2>Modificar publicación</h2>
    <section>
        <p>Si deseas modificar algunos datos de tu publicación, sigue estos pasos:</p>
        <ol>
            <li>Accede a Publicaciones desde alguno de los menus de Joum.</li>
            <li>En la parte superior derecha de la publicación que desees modificar, verás un icono de 3 puntos. Haz click allí y luego en Editar</li>
            <li>En esta sección podrás ver los datos actuales de tu publicación y los que puedes modificar.</li>
        </ol>
    </section>
    <section>
        <h3>¿Qué datos no puedo modificar?</h3>
        <ul>
            <li><span>Titulo:</span> Después de la primera venta, ya no podrás modificar el titulo</li>
            <li><span>Categoría:</span> Al momento de publicar tu producto, no se podrá modificar</li>
        </ul>
    </section>
    <app-encuesta-utilidad [informacion]="'general/modificar-publicacion'"></app-encuesta-utilidad>
</div>