<footer #footer>
    <div class="contenido-footer">
        <div class="sec aboutus">
            <h2>Joum</h2>
            <p>¡Bienvenido a Joum, el lugar donde la creatividad florece y las pasiones se convierten en oportunidades! Con nuestro sitio web, podrás dar vida a tus obras de arte, compartiendo tu talento con el mundo. ¿Eres un creador apasionado? Sube tus creaciones y disfruta de ganancias a través de tus ventas.</p>
            <ul class="sci">
                <li><a href="#"><ng-icon name="aspectsSocialFacebook"></ng-icon></a></li>
                <li><a href="#"><ng-icon name="aspectsSocialTwitter"></ng-icon></a></li>
                <li><a href="#"><ng-icon name="aspectsSocialInstagram"></ng-icon></a></li>

            </ul>
        </div>
        <div class="sec quicklinks">
            <h2>Ayuda / Acerca de Joum</h2>
            <ul>
                <li><a (click)="navegar(['vender'],$event)">vender</a></li>
                <li><a (click)="navegar(['terminos-condiciones'],$event)">Terminos y condiciones</a></li>
                <li><a (click)="navegar(['privacidad'],$event)">Privacidad</a></li>
                <li><a (click)="navegar(['quienes-somos'],$event)">¿Quienes Somos?</a></li>
                <li><a (click)="navegar(['ayuda'],$event)">Ayuda</a></li>
                <li><a (click)="navegar(['atencion-cliente'],$event)">Atención al cliente</a></li>
            </ul>
        </div>
        <div class="sec contact">
            <h2>Contactanos</h2>
            <ul class="info">
                <li><a (click)="navegar(['ayuda'],$event)">+57 302 545 9435</a></li>
                <li><a (click)="navegar(['atencion-cliente'],$event)">andres.motta.joum@gmail.com</a></li>
            </ul>
        </div>
    </div>
</footer>
<div class="copyrightText">
    <p>copyright 0 2020 Online Tutorials. joum All days with you.</p>
</div>