<footer #footer>
    <div class="contenido-footer">
        <div class="sec aboutus">
            <h2>joum</h2>
            <p>Gracias a este sitio web podrás subir tus obras de arte o artesanías echas por tí, y ganar dinero a base de tus vetas, o comprar articulos que de seguro irán muy bien en tu hogar. No pierdas esta oportunidad de hacer parte de joum.</p>
            <ul class="sci">
                <li><a href="#"><ng-icon name="aspectsSocialFacebook"></ng-icon></a></li>
                <li><a href="#"><ng-icon name="aspectsSocialTwitter"></ng-icon></a></li>
                <li><a href="#"><ng-icon name="aspectsSocialInstagram"></ng-icon></a></li>

            </ul>
        </div>
        <div class="sec quicklinks">
            <h2>Ayuda / Acerca de joum</h2>
            <ul>
                <li><a href="#">Comprar</a></li>
                <li><a href="#">vender</a></li>
                <li><a href="#">Terminos y condiciones</a></li>
                <li><a href="#">Seguridad de tu cuenta</a></li>
                <li><a href="#">¿Quienes Somos?</a></li>
                <li><a href="#">Trabaja con nosotros</a></li>
                <li><a href="#">Beneficios</a></li>
            </ul>
        </div>
        <div class="sec contact">
            <h2>Contactanos</h2>
            <ul class="info">
                <li>
                    <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                    <span>Calle 129A # 93B 27 <br> Calle 129A # 93B 27</span>
                </li>
                <li>
                    <span><i class="fa fa-phone" aria-hidden="true"></i></span>
                    <p><a href="tel:3008396764">+57 300 839 6764</a><br>
                        <a href="tel:3165395983">+57 316 539 5983</a></p>
                </li>
                <li>
                    <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
                    <p><a href="mailto:simplementeandress@gmail.com">simplementeandress@gmail.com</a><br>
                    <a href="mailto:simplementeandress@gmail.com">Jeffftheier@gmail.com</a></p>
                </li>
            </ul>
        </div>
    </div>
</footer>
<div class="copyrightText">
    <p>copyright 0 2020 Online Tutorials. joum All days with you.</p>
</div>