<div class="content">
    <h2>Publicar un producto</h2>
    <section>
        <h3>¿Que necesitas?</h3>
        <ul>
            <li>Inicia sesión en tu cuenta Joum, o crea una cuenta nueva.</li>
            <li>Verificar el correo electrónico de tu cuenta, con el link que fue enviado por e-mail tu correo.</li>
            <li>Verificar que el producto cumple con alguna de las categorías que ofrece Joum</li>
        </ul>

        <h3>Pasos para publicar un producto</h3>
        <ol>
            <li>Haz clic en Vender dentro de la página principal de Joum.</li>
            <li>Luego de verificar los pasos, y requisitos, haz click en el boton de Empezar a vender.</li>
            <li>Completa los datos de tu producto en el paso a paso del formulario. Ten en cuenta que no podrás cambiar ni el título ni la categoría que hayas elegido luego de hacer la primera venta.</li>
            <li>Luego de llenar todos los datos, al final del formulario haz click en publicar y ¡listo!, ya estás vendiendo en Joum. </li>
        </ol>
    </section>
    <div class="linea"></div>
    <section>
        <br>
        <h2 style="border: none;">Políticas de publicación</h2>
        <ol>
            <li><span>Calidad del producto</span> <p><span>No permitimos</span></p>
                <ul>
                    <li>Publicaciones de productos que hayan recibido un alto porcentaje de reclamos relacionados al estado y/o las condiciones del producto.</li>
                </ul>
            </li>
            <li><span>Descripción</span> 
                <p><span>No permitimos</span></p>
                <ul>
                    <li>Enlaces y datos engañosos:
                        <ul>
                            <li>Llevar a los usuarios a otras páginas fuera de Joum.</li>
                            <li>Abrir ventanas adicionales.</li>
                            <li>Solicitar o conseguir información de otros usuarios.</li>
                            <li>Describir de forma incorrecta o engañosa los productos y servicios ofrecidos, incluyendo sus características, cualidades, alcance, condiciones, usos y efectos, entre otros.</li>
                        </ul>
                    </li>
                </ul>
                <p><span>Lo que está permitido</span></p>
                <ul>
                    <li>Información Visual y Descriptiva: 
                        <ul>
                            <li>Proporciona descripciones detalladas sobre el estado y alcance del producto, lo que incluye y lo que no.</li>
                            <li>Indica el tamaño, marca, modelo, color, material y otras características esenciales en la ficha técnica del producto</li>
                        </ul>
                    </li>
                    <li>Información Específica:
                        <ul>
                            <li>Incluye dimensiones precisas, país de origen, garantía, condiciones de uso, entre otros detalles, en la ficha técnica y otros apartados relevantes.</li>
                            <li>Indicar el fabricante y el registro del producto si está sujeto a autorización previa.</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><span>Datos de contacto e identificación</span> 
                <p>Para evitar sanciones en tu cuenta, es importante que al momento de crear una publicación, hacer o responder preguntas y enviar mensajes tengas en cuenta que:</p>  
                <p><span>No permitimos</span></p>
                <p>Compartir información personal para realizar operaciones fuera de Joum, como:</p>
                <ul>
                    <li>Números de identificación personal como por ejemplo: número de documento, cédula de identidad, etcétera.</li>
                    <li>Números de teléfono, ID de radio, número de Pin, códigos QR o cualquier otro tipo de código de identificación.</li>
                    <li>Direcciones de e-mail, usuarios de mensajería o de redes sociales.</li>
                    <li>Enlaces, datos y/o referencias a páginas del fabricante.</li>
                    <li>Datos bancarios como número de cuenta, número de tarjeta, etcétera.</li>
                    <li>Direcciones exactas y puntos de encuentro.</li>
                    <li>Mapas con señaladores mostrando ubicaciones exactas.</li>
                    <li>Enlaces acortados de cualquier tipo.</li>
                </ul>
            </li>

            <li><span>Infracciones en fotos</span> 
                <p>Las fotos o imágenes que aparezcan en Joum deben:</p>  
                <ul>
                    <li>Corresponder exactamente al artículo que se ofrece en la publicación y no colocar una fotografías meramente referencial o que puedan inducir a error o confusión al destinatario de la oferta.</li>
                    <li>Cumplir con cualquier otra disposición prevista en los Términos y Condiciones.</li>
                </ul>
                <p><span>No permitimos</span></p>
                <ul>
                    <li>Tener logos del vendedor, texto o similares.</li>
                    <li>Fotos con muy baja resolución</li>
                    <li>La foto de portada deben mostrar sólo un artículo </li>
                </ul>
            </li>
            <li><span>Lenguaje inapropiado:</span> 
                <p><span>No permitimos</span></p>
                <ul>
                    <li>Usar lenguaje vulgar o siglas que puedan entenderse como insultos o calumnias tanto en el contenido de las publicaciones como en los apartados de mensajería.</li>
                    <li>Publicar agresiones hacia Joum tanto en el contenido de las publicaciones como en los apartados de mensajería.</li>
                    <li>Incluir contenido discriminatorio, considerando género, religión, edad, etc</li>
                </ul>
            </li>
        </ol>
        <p>Daremos de baja aquellas publicaciones y mensajes que no respeten nuestras Políticas de Publicación o cualquier ley vigente. Esto puede llevar a la inhabilitación de la cuenta.</p>
    </section>
    <app-encuesta-utilidad [informacion]="'general/publicar-producto'"></app-encuesta-utilidad>
</div>