<div class="Carousel">
    <ng-content select='.categoria'></ng-content>
    <div #slickList [ngClass]="{
            'slick-list':carousel === 1,
            'slick-list2':carousel === 2,
            'slick-list3':carousel === 3
        }">
        <button (click)='Move(1)' [ngClass]="{
                'slick-arrow slick-prev':carousel === 1,
                'slick-arrow2 slick-prev2':carousel === 2,
                'slick-arrow3 slick-prev3':carousel === 3
            }">
            &#60;
        </button>
        <div #track [ngClass]="{
                'slick-track':carousel === 1,
                'slick-track2':carousel === 2,
                'slick-track3':carousel === 3
            }">
            <div *ngFor='let element of elements' style="margin-left: -18px;" [ngClass]="{
                    'slick':carousel === 1,
                    'slick2':carousel === 2,
                    'slick3':carousel === 3
                }">
                <div (click)="navegar(['busqueda/',element.name])" *ngIf='carousel === 1' class="slick-content">
                    <picture>
                        <img [src]='element.img' alt="Image">
                    </picture>
                    <p class="slick-text"> {{ element.name }} </p>
                </div>
                <div (click)="navegar(['prod/abcd/'])" *ngIf='carousel === 2' class="slick-content2">
                    <picture>
                        <img [src]='element.img' alt="Image">
                    </picture>
                    <div style="height: 100px;">
                        <p class="precio-final">{{ element.precioFinal | currency:'$ ':'symbol':'0.0' }}</p>
                        <div style="display: flex;">
                            <p class="precio-anterior">{{ element.precioAnterior | currency:'$ ':'code':'0.0' }}</p>
                            <p class="porcentaje-rebaja">- {{ element.descuento | percent }} OFF</p>
                        </div>
                        <p class="titulo-producto">{{ element.name }}</p>
                    </div>
                </div>
                <div (click)="navegar(['prod/abcd/'])" *ngIf='carousel === 3' class="slick-content3">
                    <picture>
                        <img [src]='element.img' alt="Image">
                    </picture>
                    <div>
                        <div style="display: flex;">
                            <p class="precio-final">{{ element.precioAnterior - element.precioFinal | currency:'$ ':'symbol':'0.0' }}</p>
                            <p class="porcentaje-rebaja-3">{{ element.descuento | percent }} OFF</p>
                        </div>
                        <p class="titulo-producto">{{ element.name }}</p>
                    </div>
                </div>
            </div>
        </div>
        <button (click)='Move(2)' [ngClass]="{
            'slick-arrow slick-next':carousel === 1,
            'slick-arrow2 slick-next2':carousel === 2,
            'slick-arrow3 slick-next3':carousel === 3
            }">
            &#62;
        </button>
    </div>
</div>
