.boton {
  position: absolute;
  background: #fff;
  top: 50%;
  z-index: 4;
  width: 48px;
  height: 48px;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  transform: translateY(-50%);
  border: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  ng-icon{
    color: #333;
    font-size: 25px;
  }
  &.prev {
    left: 10px;
    ng-icon{
      transform: translateX(-1px);
    }
  }

  &.next {
    right: 10px;
    ng-icon{
      transform: translateX(1px);
    }
  }
  &:hover {
    background: #ffa963;
    ng-icon{
      color: white;
    }
  }
}

.contenedor {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  transition: 0.4s ease-in-out;
  .productos {  //Ajustar bordes
    margin-left: -18px;
    position: relative;
    width: 270px;
    padding: 0 18px;
    float: left;
    box-sizing: border-box;
    display: flex;
    height: 100%;
  
    img {
      object-fit: cover;
      height: 230px;
      margin: 8px;
      width: 215px;
      border-radius: 5px 5px 0 0;
      padding-bottom: 2px;
    }

    .informacion{
      height: 100px;
      .titulo{
        margin: 0 20px 5px 15px;

        font-size: 13px;
        font-weight: 500;
        color: #777;
      }
      h3 { //Precio final
        font-size: 26px;
        margin: 2px 8px 0 0;
        color: #555;
        font-weight: 450;
      
        padding: 6px 0;
        margin-left: 15px;
      }
      section{
        display: flex;
        .precio-anterior {
          font-size: 16px;
          color: #666;
          margin: 0 8px 10px 20px;
          text-decoration: line-through;
        }
      }
    }

    .producto-inicio {
      height: 384px;
      width: 230px;
      background: #fff;
      cursor: pointer;
      transition: 0.1s;
      border-radius: 6px;
      box-shadow: 0 1px 4px 0 #e0e0e0;
    
      &:hover {
        opacity: 0.96s;
        box-shadow: 0 0 13px 4px #e3e3e3;
      }

      .porcentaje-rebaja {
        font-size: 16px;
        color: #00c600;
        font-weight: 500;
        margin-top: 1px;
        margin-bottom: 0;
      }
    }

    .producto-en-similares {
      height: 360px;
      background: #fff;
      width: 230px;
      cursor: pointer;
      transition: 0.4s;
      border-radius: 5px;
      border: 1px solid #eee;
    
      &:hover {
        opacity: 0.95;
        border: 1px solid #ccc;
      }

      .porcentaje-rebaja {
        font-size: 16px;
        color: #00a900;
        font-weight: 500;
        margin-top: 15px;
      }
    }
  }
}

.lista-uno {
  position: relative;
  display: flex;
  align-items: center;
  height: 410px;
  margin: 0px auto;
  width: 100%;
  overflow: hidden;
  padding-left: 2px;
}

.lista-dos {
  position: relative;
  display: flex;
  align-items: center;
  height: 365px;
  margin-left: 25px;
  width: 740px;
  overflow: hidden;
}

@media (max-width: 1340px) {
  .lista-dos {
    width: 700px;
    .producto-en-similares {
      height: 340px;
      background: #fff;
      width: 215px;
      .productos{
        width: 256px;
        padding: 0 5px 0 22px;
        height: 100%;
        img {
          height: 220px;
          width: 100%;
        }
      }
    }
    .next {
      width: 40px;
      height: 40px;
      font-size: 25px;
      top: 47%;
    }
  
    .prev {
      width: 45px;
      height: 45px;
      font-size: 25px;
      top: 47%;
    }
  }
}

@media (max-width: 1270px) {
  .lista-dos {
    width: 660px;
    .producto-en-similares {
      height: 340px;
      background: #fff;
      width: 210px;
      .productos {
        width: 240px;
        padding: 0 5px 0 22px;
        height: 100%;
        img {
          height: 200px;
          width: 100%;
        }
      }
    }
  }
}