<div class="Carousel">
    <div #lista [ngClass]="{'lista-uno':carousel === 2,'lista-dos':carousel === 3}">
        <button class="boton next" *ngIf="botonPrev" (click)='Move(1)'><ng-icon name="heroChevronLeftSolid"></ng-icon></button>
        <div #contenedor class="contenedor">
            <ng-container *ngFor='let element of elements; let i = index'>
                <div class="productos">
                    <section (click)="navegar(['prod/', element.id])" class="producto-inicio" [ngClass]="{'producto-inicio': carousel === 2, 'producto-en-similares': carousel === 3}">
                        <picture *ngIf="element">
                            <img *ngIf="fotos[i]" [src]='fotos[i]' alt="Image">
                        </picture>
                        <div class="informacion">
                            <h3 *ngIf="!element.descuento">$ {{ element.precio | number:'1.0-0' }}</h3>
                            <h3 *ngIf="element.descuento">$ {{ element.precio! - (element.precio! * (element.porcentajeDescuento! / 100)) | number:'1.0-0' }}</h3>
                            <section>
                                <p class="precio-anterior" *ngIf="element.descuento">$ {{ element.precio | number:'1.0-0'}}</p>
                                <p class="porcentaje-rebaja"*ngIf="element.descuento">- {{ element.porcentajeDescuento}}% OFF</p>
                            </section>
                            <section class="titulo">{{ element.nombre }}</section>
                        </div>
                    </section>
                </div>
            </ng-container>
        </div>
        <button class="boton next" (click)='Move(2)'><ng-icon name="heroChevronRightSolid"></ng-icon></button>
    </div>
</div>
