<div class="informacion inUser">  
    <div class="NoUser"> 
            <img src="../../../../../../../assets/img/ilustraciones/ilustración1.jpg" >
        <div>
            <h2>Facturación</h2>
            <p class="p">Estará disponible muy pronto.</p>
        </div>
        <div class="circulo"></div>
    </div> 
</div>
<button (click)="navegar(['abcd/facturacion/editar-datos'], $event)">Editar datos</button>
<button (click)="navegar(['abcd/facturacion/facturas-reportes'], $event)">Facturas y reportes</button>
<button (click)="navegar(['abcd/facturacion/retenciones'], $event)">Retenciones</button>