<div class="contenido">
    <div class="graficaCircular">
        <div class="color"></div>
        <div>
            <p>57</p>
            <p>Puntos</p>
        </div>
        <div>
            <p>29 | Ventas brutas: Dinero que generaste en la plataforma</p>
            <p>19 | Unidades vendidas: Por cantidad de ventas realizadas</p>
            <p>6 | Buenas reseñas acerca de productos que te compraros</p>
            <p>10 | Vistas acumuladas a lo largo del tiempo</p>
        </div>
        <div>
            <p>-2 | Malas reseñas acerca de productos que te compraron</p>
            <p>-6 | Reclamos y despachos demorados</p>
        </div>
        <p>Puntos Joum</p>
        <p>16 julio 2023</p>
    </div>
</div>