<div class="content">
    <ng-icon name="ionClose" (click)="cerrarContenido()"></ng-icon>
    <h2><span *ngIf="direccion">Editar Dirección</span><span *ngIf="!direccion">Agregar Dirección</span></h2>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="submit()">
        <div class="datos-envio-contenedor">
            <div>
                <div>
                    <label for="nombresApellidos" [ngClass]="{'invalid-field': invalid('nombresApellidos')}"> Nombres y apellidos </label>
                    <input id="nombresApellidos" type="text" formControlName="nombresApellidos" maxlength="50"> 
                </div>
                <div>
                    <label [ngClass]="{'invalid-field': invalid('telefono')}">Telefono</label>
                    <input type="text" formControlName="telefono" class="inputTelefono" maxlength="10">
                    <p class="extensionNumero">+57</p>
                </div>
            </div>
        
            <div>
                <div>
                    <label [ngClass]="{'invalid-field': invalid('tipoIdentidad')}">Tipo de identidad</label>
                    <Select formControlName="tipoIdentidad" ngDefaultControl>
                        <option value="" disabled selected></option>
                        <option value="CC">CC</option>
                        <option value="CE">CE</option>
                    </Select>
                    <ng-icon class="down" name="ionChevronDown"></ng-icon>
                </div>
                <div>
                    <label [ngClass]="{'invalid-field': invalid('numeroIdentificacion')}">Numero de identificación</label>
                    <input type="text" formControlName="numeroIdentificacion" maxlength="10">
                </div>
            </div>
        
            <div>
                <div>
                    <label [ngClass]="{'invalid-field': invalid('municipioLocalidad')}">Municipio / Localidad</label>
                    <Select formControlName="municipioLocalidad" ngDefaultControl>
                        <option value="" disabled selected></option>
                        <option value="Suba">Suba</option>
                        <option value="Chapinero">Chapinero</option>
                        <option value="Bosa">Bosa</option>
                    </Select>
                    <ng-icon class="down" name="ionChevronDown"></ng-icon>
                </div>
                <div>
                    <label [ngClass]="{'invalid-field': invalid('barrio')}">Barrio</label>
                    <input type="text" formControlName="barrio" maxlength="30">
                </div>
            </div>
        
            <div>
                <div>
                    <label [ngClass]="{'invalid-field': invalid('tipoCalle')}">Tipo calle</label>
                    <Select formControlName="tipoCalle" ngDefaultControl>
                        <option value="" disabled selected></option>
                        <option value="Calle">Calle</option>
                        <option value="Avenida calle">Avenida Calle</option>
                        <option value="Avenida">Avenida</option>
                    </Select>
                    <ng-icon class="down" name="ionChevronDown"></ng-icon>
                </div>
                <div>
                    <label [ngClass]="{'invalid-field': invalid('calle')}">Calle</label>
                    <input type="text" formControlName="calle" maxlength="10">
                </div>
                <div>
                    <label [ngClass]="{'invalid-field': invalid('numero')}">Numero</label>
                    <input type="text" formControlName="numero" class="inputNumeral" maxlength="10">
                    <p class="numeral">#</p>
                    <p class="guion">-</p>
                </div>
                <div>
                    <input type="text" formControlName="guion" maxlength="10">
                </div>
            </div>
        
            <div>
                <div>
                    <label [ngClass]="{'invalid-field': invalid('detalle')}">Detalle: apt / piso / casa</label>
                    <input type="text" formControlName="detalle" maxlength="120">
                </div>
                <div>
                    <label>Indicaciones adicionales (opcional)</label>
                    <input type="text" formControlName="indicaciones" maxlength="120">
                </div>
            </div>
            <button type="submit" [disabled]="cargando" [ngClass]="{'cargando': cargando, 'success': actualizacionExitosa}">
                <span *ngIf="!cargando && direccion">Modificar</span> 
                <span *ngIf="!cargando && !direccion">Agregar</span>
                <span class="loading" *ngIf="cargando && !actualizacionExitosa"></span>
                <ng-icon name="matCheck" *ngIf="actualizacionExitosa"></ng-icon>
            </button>
        </div>
    </form>
</div>