.contenido{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.chat-contrario{
    justify-content: flex-start;
    .mensaje{
        background-color: #eee;
    }
}
.mensaje{
    position: relative;
    margin: 20px 30px 0 35px;
    min-width: 60px;
    max-width: 55%;
    border-radius: 10px;
    background-color: #ffe4d1;
    p{
        transform: translateY(-5px);
        font-size: 13.5px;
        font-weight: 400;
        letter-spacing: .5px;
        color: #353535;
        padding: 20px 15px;
        margin: 0;
        line-height: 20px;
    }
    p:nth-child(2){
        position: absolute;
        bottom: 0;
        transform: translateY(16px);
        font-weight: 400;
        color: #777;
        right: 0;
        font-size: 11.5px;
    }
}