<h1>Acerca de ventas</h1>
<div class="datos">
    <section> <!-- Parte izquierda -->
        <div [ngClass]="{'selected': selected == 'vender-seguro'}" (click)="navegar('ayuda/ventas/vender-seguro')">
            <h4>Vender seguro</h4>
            <ng-icon class="row" name="iconoirNavArrowRight"></ng-icon>
        </div>
        <div [ngClass]="{'selected': selected == 'envio'}" (click)="navegar('ayuda/ventas/envio')">
            <h4>Envío</h4>
            <ng-icon class="row" name="iconoirNavArrowRight"></ng-icon>
        </div>
        <div [ngClass]="{'selected': selected == 'cobros'}" (click)="navegar('ayuda/ventas/cobros')">
            <h4>Cobros</h4>
            <ng-icon class="row" name="iconoirNavArrowRight"></ng-icon>
        </div>
        <div [ngClass]="{'selected': selected == 'reputacion'}" (click)="navegar('ayuda/ventas/reputacion')">
            <h4>Reputación</h4>
            <ng-icon class="row" name="iconoirNavArrowRight"></ng-icon>
        </div>
        <div [ngClass]="{'selected': selected == 'facturacion'}" (click)="navegar('ayuda/ventas/facturacion')">
            <h4>Facturación</h4>
            <ng-icon class="row" name="iconoirNavArrowRight"></ng-icon>
        </div>
        <div [ngClass]="{'selected': selected == 'cargos-impuestos'}" (click)="navegar('ayuda/ventas/cargos-impuestos')">
            <h4>Cargos por venta</h4>
            <ng-icon class="row" name="iconoirNavArrowRight"></ng-icon>
        </div>
        <div [ngClass]="{'selected': selected == 'cancelaciones'}" (click)="navegar('ayuda/ventas/cancelaciones')">
            <h4>Cancelaciones</h4>
            <ng-icon class="row" name="iconoirNavArrowRight"></ng-icon>
        </div>
        <div [ngClass]="{'selected': selected == 'tipo-publicaciones'}" (click)="navegar('ayuda/ventas/tipo-publicaciones')">
            <h4>Tipo de publicaciones</h4>
            <ng-icon class="row" name="iconoirNavArrowRight"></ng-icon>
        </div>
        <div [ngClass]="{'selected': selected == 'proteccion'}" (click)="navegar('ayuda/ventas/proteccion')">
            <h4>Como te protegemos</h4>
            <ng-icon class="row" name="iconoirNavArrowRight"></ng-icon>
        </div>
    </section>
    <section>
        <router-outlet></router-outlet>
    </section>
    
</div>