<div class="content">
    <h2>Cargos por venta</h2>
    <section>
        <p>Los cargos e impuestos por venta en Joum son una sección importante que los vendedores encuentran al querer publicar un producto en la plataforma. Esta sección permite a los vendedores elegir el nivel de exposición que desean para su producto y establece los costos asociados con cada opción.</p>

        <p>En Joum, la publicación de productos no incurre en ningún costo inicial. Sin embargo, es importante tener en cuenta los siguientes aspectos:</p>
        <ul>
            <li>Los productos deben tener un precio mínimo de $3.400. Para productos de menor valor, se sugiere la creación de kits.</li>
            <li>dependiendo del tipo de publicación, hay un costo adicional al momento que se realiza la venta.</li>
        </ul>

        <h3>Cargos por venta según el tipo de publicación.</h3>
        <ul>
            <li><span>Publicacion gratuita:</span> Sin cargo por venta</li>
            <li><span>Publicacion Básica:</span> Pagarás el 7% por cada venta realizada</li>
            <li><span>Publicacion Premium:</span> Pagarás el 11% por cada venta realizada</li>
        </ul>
    </section>
    <app-encuesta-utilidad [informacion]="'ventas/cargos-ventas'"></app-encuesta-utilidad>
</div>