<h1>Mis datos</h1>
<div class="contenedor">
    <div class="left">
        <p>Tu cuenta</p>
        <div>
            <p [ngClass]="{'seleccion-texto': dato === 'correo'}" (click)="seleccion('correo')"><span>Correo:</span> Andres.motta.joum@gmail.com <ng-icon name="heroChevronRightMini"></ng-icon></p>
            <p [ngClass]="{'seleccion-texto': dato === 'usuario'}" (click)="seleccion('usuario')"><span>Usuario:</span> AndresYesidM <ng-icon name="heroChevronRightMini"></ng-icon></p>
        </div>
        <p>Datos personales</p>
        <div>
            <p [ngClass]="{'seleccion-texto': dato === 'nombre'}" (click)="seleccion('nombre')"><span>Nombre:</span> Andres Yesid Motta Sarmiento <ng-icon name="heroChevronRightMini"></ng-icon></p>
            <p [ngClass]="{'seleccion-texto': dato === 'documento'}" (click)="seleccion('documento')"><span>Documento:</span> CC 1000320938 <ng-icon name="heroChevronRightMini"></ng-icon></p>
        </div>
        <div>
            <p [ngClass]="{'seleccion-texto': dato === 'teléfono'}" (click)="seleccion('teléfono')"><span>Teléfono:</span> 3025459435 <ng-icon name="heroChevronRightMini"></ng-icon></p>
            <p [ngClass]="{'seleccion-texto': dato === 'dirección'}" (click)="seleccion('dirección')"><span>Dirección:</span> Avenida calle 129a #87a - 24 <ng-icon name="heroChevronRightMini"></ng-icon></p>
        </div>
    </div>
    <div class="right">
        <div *ngIf="nuevoDato == false">
            <p>Editar tus datos</p>
            <p>También puedes <span>corregir tu nombre y/o apellido</span> si están mal escritos, tienen algún error o los modificaste legalmente en tu Cédula. Si tu nombre y apellido son correctos pero quieres que te llamemos de otra forma, puedes <span>cambiar el nombre de usuario</span></p>
        </div>
        <div *ngIf="nuevoDato">
            <p>Editar {{dato}}</p>
            <input type="text">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At quod iusto aspernatur eaque! Voluptates, iure nulla laborum esse natus voluptatem fuga </p>
        </div>
        <button [ngClass]="{'disable': dato === ''}">Actualizar</button>
    </div>
</div>
