<div class="content">
    <h2>Opiniones</h2>
    <section>
        <h3>Cuando opinar sobre un producto</h3>
        <p>Una vez que hayas recibido tu compra, podrás dejar un comentario sobre el vendedor y lo mostraremos en su perfil. La forma de hacerlo dependerá de cómo la hayas recibido: Cuando recibas tu compra, encontrarás la acción Opinar sobre el vendedor en el menú de ayudas del estado de la compra. </p>
        <h3>Cómo escribir un buen comentario</h3>
        <ul>
            <li><span>Aporta información útil y específica.</span> Por ejemplo, si vas a opinar sobre un celular habla sobre la calidad de la cámara, duración de la batería o capacidad de la memoria interna.</li>
            <li><span>Escribe de manera detallada y honesta.</span> Escribe de manera detallada y honesta.</li>
            <li><span>No incluyas enlaces ni datos personales</span> como nombres, direcciones o números de identidad.</li>
            <li><span>Mantén siempre un tono respetuoso y amable.</span> Si hay algo que no te gusta dilo con educación y en forma de crítica constructiva.</li>
        </ul>
    </section>
    <div class="linea"></div>
    <section>
        <h3>Políticas de opiniones</h3>
        <p>La Persona Usuaria podrá compartir su opinión sobre el producto a través de la elección de un puntaje, un comentario textual y fotos. </p>
        <p>Las opiniones estarán sujetas a las Políticas de Publicación del Marketplace y a las siguientes reglas:</p>
        <ul>
            <li>Deberán limitarse a referencias personales sobre el producto.</li>
            <li>No están permitidas opiniones de carácter privado, publicitario, autorreferencias o cualquier otra acción que desvirtúe la herramienta de opiniones.</li>
            <li>No podrá incluirse contenido ofensivo, obsceno, discriminatorio, ni que incite peligro potencial hacia las personas.</li>
            <li>No podrán incluirse datos de contacto como por ejemplo: teléfono, e-mail o dirección.</li>
        </ul>
        <p>La Persona Usuaria autoriza a Joum a publicar en todos sus sitios los comentarios y fotos como referencias de productos y como respuestas a preguntas que otras Personas Usuarias puedan realizar sobre el mismo. Por eso, las opiniones podrían estar referidas a una versión del producto que haya sido adaptada para ese país.</p>
        <p>La Persona Usuaria será responsable por cualquier daño que sus opiniones e imágenes puedan causar. Mercado Libre podrá suspender temporal o definitivamente la posibilidad de dejar opiniones a quien incumpla estas políticas.</p>
        <p>Joum no edita opiniones, pero podrá impedir la publicación o eliminar cualquier comentario e imagen ya publicada que no cumpla con los Términos y Condiciones.</p>
    </section>
    <app-encuesta-utilidad [informacion]="'compras/opiniones'"></app-encuesta-utilidad>
</div>