<h1>Ventas</h1>

<div class="contenedor" *ngIf="ventas">
    <div>
        <div class="encabezado">
            <p>{{ventas.length}} ventas</p>
            <div>
                <div>
                    <input type="text" placeholder="Buscar ">
                    <ng-icon name="heroMagnifyingGlassMini"></ng-icon>
                </div>
                <div>
                    <ng-icon name="heroAdjustmentsHorizontal"></ng-icon>
                    <select id="">
                        <option value="">Todas</option>
                        <option value="">compra tipo1</option>
                    </select>
                </div>
            </div>
        </div>
        <app-venta [venta]="venta" [usuario]="usuario" [fecha]="fechas[i]" *ngFor="let venta of ventas; let i = index"></app-venta>
    </div>
    <div class="derecha">
        <div>
            <p>Por preparar</p>
            <p>{{porPreparar}} venta</p>
        </div>
        <div>
            <p>En camino</p>
            <p>{{enCamino}} venta</p>
        </div>
        <div>
            <p>Finalizadas</p>
            <p>{{finalizadas}} venta</p>
        </div>
    </div>
</div>