.informacion{
    position: relative;
    width: 100%;
}

.informacion h2{
    width: 100%;
    margin: 30px;
}

.NoUser{
	margin: auto;
	width: 100%;
	height: 450px;
	border: 1px solid #ddd;
	border-radius: 10px;
	background: white;
	position: relative;
	display: flex;
	overflow: hidden;
}
.NoUser img{
	margin-top: 30px;
    height: 350px;
	margin-left: 60px;
}

.NoUser h2{
	font-size: 50px;
	color: #555;
	letter-spacing: 1px;
	text-align: center;
	margin-top: 50px;
}
.NoUser .p{
	margin: 70px 0 60px 0;
	font-size: 35px;
	color: #555;
	letter-spacing: 1px;
	width: 400px;
}

.NoUser a{
	text-decoration: none;
}

.NoUser .boton{
	margin: 30px 0 0 15%;
	width: 70%;
	height: 50px;
	background: #FFA963;
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
	transition: .4s;
	border: 1px solid #FFA963;
}
.NoUser .boton:hover{
	background: white;
}
.NoUser .boton:hover p{
	color: #FFA963;
}
.NoUser .boton p{
	text-align: center;
	color: white;
	font-size: 22px;
	letter-spacing: 1px;
	margin-top: 10px;
	font-weight: 500;
}

.NoUser .circulo{
	position: relative;
	width: 470px;
	height: 420px;
	background: rgb(255,194,124);
	background: linear-gradient(156deg, rgba(255,194,124,1) 0%, rgba(255,160,51,1) 100%);
	margin-top: 380px;
	border-radius: 50%;
	position: absolute;
	right: -190px;
}

/*----------------------------*/
@media (min-width: 1150px){
    .NoUser{
        animation: contenidoReversa .5s;
        height: 450px;
    }
    .NoUser img{
        animation: imagenReversa .5s;
        height: 360px;
    }
    .NoUser .p{
        animation: contenidoReversa .5s;
        font-size: 35px;
        width: 400px;
        padding-left: 150px;
    }
    .NoUser h2{
        margin-left: -50px;
    }
}
@media (max-width: 1150px){
    .NoUser{
        animation: contenido .5s;
        height: 360px;
    }
    .NoUser img{
        animation: imagen .5s;
        height: 260px;
    }
    .NoUser .p{
        font-size: 27px;
        width: 300px;
        margin-left: 60px;
    }
    .NoUser h2{
        margin-left: -50px;
    }
}

/*--------------- Imagen -------------*/
@keyframes imagen {
    0%{
        height: 360px;
    }
    100%{
        height: 260px;
    }
}
@keyframes imagenReversa {
    0%{
        height: 260px;
    }
    100%{
        height: 360px;
    }
}
/*--------------- Contenedor -------------*/
@keyframes contenido {
    0%{
        height: 450px;
    }
    100%{
        height: 360px;
    }
}
@keyframes contenidoReversa {
    0%{
        height: 360px;
    }
    100%{
        height: 450px;
    }
}