<div class="formulario">
    <h1>Crear cuenta</h1>
    <!----------->
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="nombres">
            <div>
                <label for="" [ngClass]="{'errorText': hasError('name')}">Nombre</label>
                <input type="text" formControlName="name" [ngClass]="{'invalid': hasError('name')}">
                <app-error-message [control]="form.get('name')!" />
            </div>

            <div>
                <label for="" [ngClass]="{'errorText': hasError('lastname')}">Apellido</label>
                <input type="text" formControlName="lastname" [ngClass]="{'invalid': hasError('lastname')}">
                <app-error-message [control]="form.get('lastname')!" />
            </div>
        </div>
        <!----------->
        <label for="email" [ngClass]="{'errorText': hasError('email')}" for="email" >Correo</label>
        <input name="email" type="text" placeholder="nombre@correo.com" formControlName="email" [ngClass]="{'invalid': hasError('email')}">
        <app-error-message [control]="form.get('email')!" patternType="email"/>

        <!----------->
        <label for="password" [ngClass]="{'errorText': hasError('password')}" for="email" >Contraseña</label>
        <input name="password" type="password" placeholder="* * * *" formControlName="password" [ngClass]="{'invalid': hasError('password')}">
        <app-error-message [control]="form.get('password')!" patternType="password" />

        <!----------->
        <label for="" [ngClass]="{'errorText': hasError('phone')}">Teléfono</label>
        <input type="text" placeholder="+57" formControlName="phone" [ngClass]="{'invalid': hasError('phone')}">
        <app-error-message [control]="form.get('phone')!"/>

        <!----------->
        <div class="politicas">
            <input type="checkbox">
            <p>Declaro que he leído y acepto la nueva <span (click)="navegar('privacidad')"> Política de Privacidad</span> y los <span (click)="navegar('terminos-condiciones')">Términos y Condiciones</span> de joum.</p>
        </div>

        <div class="botones">
            <button type="button" (click)="navegar('cuenta/iniciar-sesion')">Iniciar sesión</button> <button type="submit">Crear</button>
        </div>
    </form>

    <p>O crea tu cuenta con</p>
    <div class="iconos">
        <div (click)="singInFacebook()"><ng-icon name="aspectsSocialFacebook"></ng-icon></div>
        <div (click)="singInTwitter()"><ng-icon name="ionLogoTwitter"></ng-icon></div>
        <div (click)="singInGoogle()"><ng-icon name="ionLogoGoogle"></ng-icon></div>
    </div>
</div>