<div class="contenidoDatosProducto">
    <div class="contenido">
        <p class="texto1"><span>{{vendidos}}</span></p>
        <h2 class="tituloProducto">{{ producto.nombre }}</h2>
        <div class="estrellas" *ngIf="producto.opiniones.length !== 0">
            <div class="starts-over" [ngClass]="'starts-' + promedioCalificacion">
                <ng-icon name="matStarRound"></ng-icon>
                <ng-icon name="matStarRound"></ng-icon>
                <ng-icon name="matStarRound"></ng-icon>
                <ng-icon name="matStarRound"></ng-icon>
                <ng-icon name="matStarRound"></ng-icon>
            </div>
            <div class="starts">
                <ng-icon name="matStarRound"></ng-icon>
                <ng-icon name="matStarRound"></ng-icon>
                <ng-icon name="matStarRound"></ng-icon>
                <ng-icon name="matStarRound"></ng-icon>
                <ng-icon name="matStarRound"></ng-icon>
            </div>
        </div>
        <p *ngIf="producto.opiniones.length !== 0" (click)="opiniones()" class="opiniones"> {{producto.opiniones.length}}</p>

        <div class="contenidoPrecios">
            <div class="precio-descuento" *ngIf="producto.descuento">
                <p>$ {{ producto.precio | number:'1.0-0'}}</p>
                <p>- {{ producto.porcentajeDescuento}}% OFF</p>
            </div>
            <h2 *ngIf="producto.descuento">$ {{ producto.precio! - (producto.precio! * (producto.porcentajeDescuento! / 100)) | number:'1.0-0' }}</h2>
            <h2 *ngIf="!producto.descuento">$ {{ producto.precio | number:'1.0-0'}}</h2>
        </div>

        <div>
            <ng-container *ngIf="producto.envioGratis; else otroContenido">
                <p class="recibelo-gratis"><ng-icon name="heroTruck"></ng-icon><span>Recíbelo</span></p>
                <p class="entre-gratis">entre el <span>8 y 10 de junio</span> <span> Gratis!</span></p>
            </ng-container>
            <ng-template #otroContenido>
                <ng-container>
                    <p class="recibelo"><ng-icon name="heroTruck"></ng-icon><span>Recíbelo</span></p>
                    <p class="entre">entre el <span>8 y 10 de junio</span> por <span>$ {{producto.precioEnvio | number:'1.0-0'}}</span></p>
                </ng-container>
            </ng-template>
            
        </div>

        <ng-container *ngIf="estilos">
            <div class="linea-Menu"></div>
            <div class="estilos">
                <label for="estilos">Estilos</label><br>
                <select id="estilos" [(ngModel)]="selectEstilo" (change)="seleccionarEstilo()">
                    <ng-container *ngFor="let estilo of estilos; let index = index">
                        <option [value]="index">{{estilo.nombre}}</option>
                    </ng-container>
                </select>
            </div>
            <div class="session3">
                <label for="unidades">unidades:</label>
                <select name="unidades" id="unidades" [style.width.px]="unaUnidad ? 90 : 117" (change)="cambiarUnidades($event)">
                    <option value="1" selected>1 unidad</option>
                    <option *ngFor="let i of [].constructor(estilos![selectEstilo].unidades! - 1); let index = index" [value]="index + 2">
                    {{ index + 2 }} unidad{{ index + 1 !== 0 ? 'es' : '' }}
                    </option>
                </select>
                <p>(<span>{{estilos![selectEstilo].unidades!}}</span> disponibles )</p>
            </div>
        </ng-container>
    <div (click)="comprar()" class="btnComprar" ><p>Comprar ahora</p></div>
    <div class="proteccionCompra">Compra protegida:<span> Obtén lo que esperabas o recupera tu dinero.</span><ng-icon name="matGppGoodOutline"></ng-icon></div>
</div>
