.contenidoDatosProducto {
    margin-top: 30px;
    position: relative;
    border: 1px solid #e1e0dd;
    width: 100%;
    transform: translateX(3%);
    border-radius: 5px;

    .contenido {
        position: relative;
        width: 86%;
        margin-left: 7%;

        .usuario img {
            position: absolute;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            right: -10px;
            top: 10px;
        }

        .texto1 {
            color: #909090;
            margin-top: 20px;
            margin-bottom: 8px;
            font-size: 14px;
            letter-spacing: 0.5px;
            word-spacing: 1px;
        }

        .tituloProducto {
            margin-top: 0;
            margin-bottom: 10px;
            font-size: 20px;
            color: #333;
            padding-right: 10%;
            font-weight: 550;
        }

        /* ESTRELLAS */
        .opiniones {
            width: 15px;
            margin-top: -33px;
            margin-left: 106px;
            color: #a6a6a6;
            letter-spacing: 1px;
            font-size: 15px;
            font-weight: 550;
            position: absolute;
            cursor: pointer;
            transition: 0.1s;

            &:hover {
                color: #fc972b;
                font-size: 16px;
                margin-top: -35px;
            }
        }

        .estrellas {
            position: relative;
            width: 100px;
            margin-bottom: 16px;

            .starts {
                margin-top: 0;
                height: 20px;
                display: flex;
                position: relative;

                ng-icon {
                    font-size: 20px;
                    color: #ccc;
                    margin: 2px 0;
                }
            }

            .starts-over {
                width: 70%;
                overflow: hidden;
                display: flex;
                position: absolute;
                z-index: 10;
                left: 0;

                ng-icon {
                    font-size: 20px;
                    color: #fc9c43;
                    margin: 2px 0;
                }
            }
        }

        /* PRECIOS */
        .precio-descuento {
            display: flex;
            height: 18px;

            div p:nth-child(1) {
                color: #888;
                font-size: 16px;
                font-weight: 100;
                text-decoration: line-through;
                font-weight: 400;
                margin: 0;
                padding-left: 0;
            }

            p {
                color: #1779ea;
                margin-top: -2px;
                padding-left: 10px;
                letter-spacing: 1px;
                font-weight: 480;
                font-size: 17px;
            }
        }

        h2 {
            font-size: 33px;
            margin: 5px 0 25px 0;
            font-weight: 380;
            letter-spacing: 1px;
            color: #333;
        }

        /* Recibelo entre */
        .recibelo {
            position: relative;
            font-size: 15px;
            margin-top: 15px;
            margin-bottom: 5px;

            span {
                top: 3px;
                position: absolute;
                font-weight: 500;
                color: #1779ea;
                letter-spacing: 0.5px;
            }

            ng-icon {
                color: #1779ea;
                font-size: 21px;
                padding-right: 6px;
            }
        }
        /* Recibelo Gratis */
        .recibelo-gratis {
            position: relative;
            font-size: 15px;
            margin-top: 15px;
            margin-bottom: 5px;
        
            span {
            top: 3px;
            position: absolute;
            font-weight: 480;
            color: #0cb16f;
            letter-spacing: 0.8px;
            }
        
            ng-icon {
            color: #0cb16f;
            font-size: 21px;
            padding-right: 6px;
            }
        }

        .entre {
            font-size: 14px;
            margin-top: 0;
            color: #444;
            font-weight: 500;
            margin-bottom: 24px;
            letter-spacing: 1px;

            span {
                font-weight: 600;
                letter-spacing: 0;
            }
        }

        .entre-gratis {
            font-size: 14px;
            margin-top: 0;
            color: #444;
            font-weight: 500;
            margin-bottom: 24px;
            letter-spacing: 1px;

            span {
                font-weight: 550;
                letter-spacing: 0.8px;
                color: #11b674;
                padding-left: 2px;
            }
        }

        /* Unidades */
        .linea-Menu {
            border-bottom: 1px solid #ddd;
            margin-bottom: 26px;
        }

        .estilos {
            select {
                margin: 5px 0 20px 0;
                width: 100%;
                padding: 10px;
                border-radius: 5px;
                border: 1px solid #b0b0b0;
                cursor: pointer;
                color: #5a5a5a;
                font-size: 13px;
                font-weight: 400;
                letter-spacing: 0.4px;
                word-spacing: 1px;
                outline: none;

                &:focus {
                    border: 1px solid #888;
                }
            }
        }

        .session3 {
            display: flex;

            label {
                font-size: 14px;
                color: #333;
                letter-spacing: 0.5px;
                padding-right: 6px;
                font-weight: 500;
            }

            select {
                border: none;
                font-size: 14px;
                color: #222;
                letter-spacing: 0.8px;
                font-weight: 600;
                cursor: pointer;
                height: 18px;
                outline: none;
                width: 90px;
            }

            p {
                margin: 0;
                margin-left: 10px;
                font-size: 13px;
                color: #777;
                letter-spacing: 0.4px;
                margin-bottom: 20px;

                span {
                    margin-left: 5px;
                }
            }
        }

        /* PAGAR */
        .btnComprar {
            width: 100%;
            height: 43px;
            border-radius: 5px;
            background: #ffa148;
            margin: 15px auto 20px auto;
            position: relative;
            cursor: pointer;
            transition: 0.2s;

            &:hover {
                background: #ff9027;
            }

            p {
                position: relative;
                padding-top: 10px;
                width: 100%;
                text-align: center;
                font-size: 17px;
                color: white;
                font-weight: 600;
                word-spacing: 2px;
            }
        }

        .proteccionCompra {
            position: relative;
            font-size: 14px;
            color: #6c6c6c;
            letter-spacing: 0.5px;
            font-weight: 440;
            line-height: 20px;
            padding: 5px 5px 0 25px;
            margin-bottom: 22px;
            cursor: pointer;

            &:hover {
                color: #606060;

                ng-icon {
                    color: #707070;
                }
            }

            span {
                color: #797979;
                font-weight: 420;
                font-size: 13.5px;
            }

            ng-icon {
                position: absolute;
                left: 0;
                top: 6px;
                font-size: 20px;
                color: #7d7d7d;
            }
        }

        @for $i from 1 through 10 {
            .estrellas .starts-over.starts-#{$i * 10} {
                width: #{$i * 10.15%};
            }
        }
    }
}