<div class="contenidoDatosProducto">
    <div class="contenido">
        <p class="texto1">Nuevo | +100 vendidos</p>
        <h2 class="tituloProducto">{{ producto.nombre }}</h2>
        <div class="estrellas">
            <div class="starts-over">
                <ng-icon name="matStarRound"></ng-icon>
                <ng-icon name="matStarRound"></ng-icon>
                <ng-icon name="matStarRound"></ng-icon>
                <ng-icon name="matStarRound"></ng-icon>
                <ng-icon name="matStarRound"></ng-icon>
            </div>
            <div class="starts">
                <ng-icon name="matStarRound"></ng-icon>
                <ng-icon name="matStarRound"></ng-icon>
                <ng-icon name="matStarRound"></ng-icon>
                <ng-icon name="matStarRound"></ng-icon>
                <ng-icon name="matStarRound"></ng-icon>
            </div>
        </div>
        <p (click)="opiniones()" class="opiniones">25</p>

        <div class="contenidoPrecios">
            <div class="precio-descuento">
                <p>{{ producto.precio | currency:'$ ':'symbol':'1.0-0'}}</p>
                <p>- {{ producto.descuento / producto.precio | percent }} OFF</p>
            </div>
            <h2>{{ producto.precio - producto.descuento | currency:'$ ':'symbol':'1.0-0' }}</h2>
        </div>

        <div>
            <p class="recibelo"><ng-icon name="heroTruck"></ng-icon><span>Recibelo</span></p>
            <p class="entre">entre el <span>8 y 10 de junio</span> por <span>$9.000</span></p>
        </div>

        <div class="linea-Menu"></div>
        <div class="session3">
            <label for="unidades">Cantidad:</label>
            <select name="unidades" id="unidades">
                <option value="1" selected>1 unidad</option>
                <option value="1">2 unidad</option>
                <option value="1">3 unidad</option>
                <option value="1">4 unidad</option>
                <option value="1">5 unidad</option>
                <option value="1">6 unidad</option>
                <option value="1">7 unidad</option>
                <option value="1">8 unidad</option>
                <option value=""><input type="text" placeholder="hola"></option>
            </select>
            <p>(<span>37</span> disponibles)</p>
        </div>
    <div (click)="navegar(['comprar/checkout/detalles-envio'], $event)" class="btnComprar"><p>Comprar ahora</p></div>
</div>
