<h1>Publicaciones</h1>
<div class="encabezado">
    <p>2 publicaciones</p>
    <div>
        <input type="text" placeholder="Buscar ">
        <ng-icon name="heroMagnifyingGlassMini"></ng-icon>
        <ng-icon name="heroAdjustmentsHorizontal"></ng-icon>
        <select id="">
            <option value="">Todas</option>
            <option value="">compra tipo1</option>
        </select>
    </div>
</div>
<app-publicacion [publicacion]="publicacion" *ngFor="let publicacion of publicaciones"></app-publicacion>