<div class="body">
    <app-barra-menu></app-barra-menu>
    <div id="contenidoTotal">
    <app-sub-menu></app-sub-menu>
    </div>
    <app-slider [elements]="slider"></app-slider>
    <div id="contenidoTotal">
        <!-- CAROUSEL 1 -->
        <br><br>
        <app-carrusel [carousel]='1' [elements]="categorias">
            <h3 class="titulos categoria">Categorías</h3>
        </app-carrusel>
        <br><br>
        <div class="Linea"></div>

        <!-- CAROUSEL 2 -->
        <br><br><br>
        <app-carrusel [carousel]='2' [elements]="productos">
            <h3 class="titulos categoria">Lo más destacado hoy</h3>
        </app-carrusel>
        <br><br><br>

        <!-- PRIMER ITEM --> 
        <h3 class="titulos">Quiza te interese</h3>
        <div class="contenido-publicitario">
            <div class="item">
                <div class="item-text">
                    <h1>Cuadros para tu sala</h1>
                    <button>Ver más</button>
                </div>
                <img src="../../../../assets/img/categoria/cuadros/6.jpg" class="item-img" ><br>
            </div>
            <div class="item-2">
                <div class="item-text">
                    <h1>Iluminaciones decorativas</h1>
                    <button>Ver más</button>
                </div>
                <img src="../../../../assets/img/categoria/iluminacion/10.jpg" class="item-img"><br>
            </div>
        </div>

        <!-- CAROUSEL 2 -->
        <br><br><br><br>
        <app-carrusel [carousel]='2' [elements]="productos">
            <h3 class="titulos categoria">Lo más destacado hoy</h3>
        </app-carrusel>

        <!-- ITEMS 2 -->
        <br><br><br><br>
        <h3 class="titulos">Quizá te interese</h3>
        <div class="contenido-publicitario">
            <div class="item">
                <div class="item-text">
                    <h1>Encuentra las mejores macetas</h1>
                    <button>Ver más</button>
                </div>
                <img src="../../../../assets/img/categoria/macetas/5.jpg" class="item-img"><br>
            </div>
            <div class="item-2">
                <div class="item-text">
                    <h1>Cuadros para tu sala</h1>
                    <button>Ver más</button>
                </div>
                <img src="../../../../assets/img/categoria/cuadros/9.jpg" class="item-img" style="object-position: 0px -15px"><br>
            </div>
        </div>

        <!-- CAROUSEL 3 -->
        <br><br><br><br>
        <app-carrusel [carousel]='2' [elements]="productos">
        <h3 class="titulos categoria">Ofertas para tu hogar</h3>
        </app-carrusel>
        
        <!-- CAROUSEL 4 -->
        <br><br><br><br>
        <app-carrusel [carousel]='2' [elements]="productos">
        <h3 class="titulos categoria">Lo más destacado</h3>
        </app-carrusel>

    </div>
    <br>

    <div class="wave">
        <div style="height: 250px; overflow: hidden;" >
            <svg viewBox="0 0 370 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
                <path
                    d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #ddd;">
                </path>
            </svg>
            <h2 style="display: flex;">
                Crea tu cuenta
                <a (click)="navegar(['cuenta/crear-cuenta'], $event)"><button>Aquí</button></a>
            </h2>
        </div>
    </div>
    <app-footer></app-footer>
</div>