<div class="body">
    <app-usuario-nuevo *ngIf="usuarioNuevo" (cerrar)="usuarioNuevo = false"></app-usuario-nuevo>
    <app-barra-menu></app-barra-menu>
    <div id="contenidoTotal">
    <app-sub-menu></app-sub-menu>
    </div>
    <div id="contenidoTotal">
        <app-slider [elements]="slider"></app-slider>
        <!-- CAROUSEL 1 -->
        <app-categorias></app-categorias>
        <!-- CAROUSEL 2 -->
        <br>
        <h3 class="titulos categoria">Lo más destacado</h3>
        <app-carrusel [carousel]='2' [elements]="carruselUno"></app-carrusel>
        <br *ngIf="anchoPagina > 510"><br *ngIf="anchoPagina > 566"><br *ngIf="anchoPagina > 860"> 

        <!-- PRIMER ITEM --> 
        <h3 class="titulos">Quiza te interese</h3>
        <div class="contenido-publicitario">
            <div class="item" (click)="link('busqueda/Difusores')" *ngIf="anchoPagina > 840">
                <div class="item-text">
                    <h1>DIFUSORES <br> DECORATIVOS</h1>
                    <button>Ver más</button>
                </div>
                <div class="imagen">
                    <img src="../../../assets/img/anuncios/difusores.png">
                </div>
            </div>
            <div class="item-2" (click)="link('busqueda/Repisas')">
                <div class="item-text">
                    <h1>ESTANTES <br> EN MADERA</h1>
                    <button>Ver más</button>
                </div>
                <div class="imagen">
                    <img src="../../../assets/img/anuncios/estantes.png">
                </div>
            </div>
        </div>

        <!-- CAROUSEL 2 -->
        <br><br><br><br *ngIf="anchoPagina > 566 && anchoPagina <= 840">
        <h3 class="titulos categoria">Solo por hoy</h3>
        <app-carrusel [carousel]='2' [elements]="carruselDos"></app-carrusel>
        <br *ngIf="anchoPagina > 510 && anchoPagina <= 840"><br *ngIf="anchoPagina > 566 && anchoPagina <= 840">


        <!-- PRIMER ITEM --> 
        <h3 class="titulos" *ngIf="anchoPagina <= 840">Quiza te interese</h3>
        <div class="contenido-publicitario" *ngIf="anchoPagina <= 840">
            <div class="item" (click)="link('busqueda/difusores')">
                <div class="item-text">
                    <h1>DIFUSORES <br> DECORATIVOS</h1>
                    <button>Ver más</button>
                </div>
                <div class="imagen">
                    <img src="../../../assets/img/anuncios/difusores.png">
                </div>
            </div>
        </div>
        <br><br><br><br *ngIf="anchoPagina > 566 && anchoPagina <= 840">

        <h3 class="titulos categoria" *ngIf="anchoPagina <= 840">Cuadros decorativos</h3>
        <app-carrusel [carousel]='2' [elements]="carruselTres" *ngIf="anchoPagina <= 840"></app-carrusel>
        <br *ngIf="anchoPagina > 510 && anchoPagina <= 840"><br *ngIf="anchoPagina > 566 && anchoPagina <= 840">
    </div>

    <div class="wave">
        <div class="text">
            <h2><span *ngIf="!enUsuario">Crea tu cuenta</span><span *ngIf="enUsuario">Empieza a vender</span></h2>
            <button (click)="navegar()">Aquí</button>
        </div>
        <div style="height: 250px; overflow: hidden;" >
            <svg viewBox="0 0 370 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
                <path
                    d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #ddd;">
                </path>
            </svg>
        </div>
    </div>
    <app-footer></app-footer>
</div>