<div class="header3" [ngClass]="{'eliminar': anchoPagina < 564}">
    <nav class="menu3" *ngIf="anchoPagina >= 564">
        <ul>
            <div class="ContenidoMenu3">
                <li (click)="navegar('vender')"><img src="assets/img/logo/iconos/store-icon.svg"><p>Empieza a vender con nosotros</p> </li>
                <li (click)="navegar('favoritos')">
                    <div class="sign" [ngClass]="{'visible': sign}" (click)="$event.stopPropagation()">
                        <section><ng-icon name="heroUserCircle"></ng-icon><br><p>Necesitas una cuenta</p><button (click)="navegar('cuenta/iniciar-sesion')">Iniciar sesión</button></section>
                        <span class="triangulo"></span><span class="sombra"></span>
                    </div>
                    <ng-icon name="heroStar"></ng-icon><p>Artículos favoritos</p> 
                </li>
            </div>
        </ul>
    </nav>
</div>