<div class="header3">
    <nav class="menu3">
        <ul>
            <div class="ContenidoMenu3">
                <li><a (click)=" navegar(['vender'], $event)"><ng-icon name="heroBanknotes"></ng-icon>Empieza a vender en joum </a></li>
                <li><a (click)=" navegar([''], $event)"><ng-icon name="heroCheckBadge"></ng-icon>Garantia joum</a></li>
                <li><a (click)=" navegar([''], $event)"><ng-icon class="devoluciones-icono" name="heroArrowUturnLeft"></ng-icon>Devoluciones gratis</a></li>
                <li><a (click)=" navegar(['abcd/favoritos'], $event)"><ng-icon name="heroStar"></ng-icon>Articulos favoritos</a></li>
            </div>
        </ul>
    </nav>
</div>