//------------------------------------
.totalSecciones{
    margin: 30px 0 50px 15%;
}
.totalProductos{
    display: flex;
    flex-wrap: wrap;
}

.secciones{
    width: 55%;
    display: flex;
}
.secciones p{
    padding: 10px 20px;
    margin: 3px;
    font-size: 20px;
    color: #777;
    cursor: pointer
}
.secciones p:nth-child(1){
    color: #555;
    background: #e8e8e9;
    border-radius: 5px;
}
.secciones p:hover{
    background: #dfdfdf;
    border-radius: 5px;
}
.secciones p i{
    font-size: 15px;
    margin: 0 5px;
}
.cuadro .starts{
    margin-left: 20px;
    margin-top: -4px;
    display: flex;
    position: relative;
}
.cuadro .starts i{
    padding: 0 2px;
    font-size: 14px;
    color: #FFA963;
    margin: 2px 0;
}
.cuadro .numVotos{
    font-size: 14px;
    margin-top: 0px;
    letter-spacing: 1px;
    padding: 0 5px;
}
