<div class="contenidoDatosProducto">
    <div class="contenido">
		<h2>Medios de pago</h2>
		<h3>Tarjetas de débito</h3>
		<div style="display: flex;">
			<img src="assets/img/pago/mastercard.png" alt="">
			<img class="img-big" src="assets/img/pago/visa.png" alt="">
			<img src="assets/img/pago/american.png" alt="">
		</div>
		<h3>Transación desde tu banco</h3>
		<div style="display: flex;">
			<img src="assets/img/pago/pse.png" alt="">
		</div>
		<h3>Efectivo</h3>
		<div style="display: flex;">
			<img src="assets/img/pago/efecty.png" alt="">
		</div>
    </div>
</div>
