<div class="contenidoDatosProducto">
    <div class="contenido">
		<h2>Medios de pago</h2>
		<h3>tarjetas débito y crédito</h3>
		<div style="display: flex;">
			<img class="img-big" src="assets/img/pago/visa.png">
			<img src="assets/img/pago/mastercard.png">
			<img src="assets/img/pago/american.png">
			<img src="assets/img/pago/codensa.svg">
		</div>
		<h3>Efectivo y otros bancos</h3>
		<div style="display: flex;">
			<img class="efecty" src="assets/img/pago/efecty.svg">
			<img class="pse" src="assets/img/pago/pse.png">
		</div>
		<img src="assets/img/pago/mercadopago.png">
    </div>
</div>